<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <!-- <li class="has-submenu">
          <a href="#/indicadores-harpiaxwork"><i class="md-insert-chart"></i>Indicadores Harpia x Work</a>
        </li> -->
          <li class="has-submenu">
            <a href="#/home-formalizacao"><i class="md-reply"></i>Voltar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">

          <h4 class="page-title">Indicadores Formalização</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Filtro de Indicadores</h4>
          <ui-atualizacao></ui-atualizacao>
          <form name="myForm" novalidate>
            <div class="form-row">
              <div class="form-group col-md-2" ng-class="{ 'has-error': form.data_inicial.$invalid }">
                <label for="inputEmail4" class="col-form-label">Data Inicial</label>
                <input type="date" class="form-control" name="data_inicial" ng-model="ind.data_inicial" ng-required="true">
                <div ng-show="form.data_inicial.$invalid" class="help-block">Preencha este campo</div>
              </div>
              <div class="form-group col-md-2" ng-class="{ 'has-error': form.data_final.$invalid }">
                <label for="inputPassword4" class="col-form-label">Data Final</label>
                <input type="date" class="form-control" name="data_final" ng-model="ind.data_final" ng-required="true">
                <div ng-show="form.data_final.$invalid" class="help-block">Preencha este campo</div>
              </div>
              <div class="form-group col-md-2" ng-class="{ 'has-error': form.agrupamento.$invalid }">
                <label for="inputAddress" class="col-form-label">Banco</label>
                <select ui-select2 class="js-example-basic-multiple js-states form-control" ng-model="ind.devname_banco" ng-model="bancos_selecionados[]" multiple="multiple" data-placeholder="Selecione" name="banco" ng-options="b.devname as b.devname for b in vm.bancos">
                </select>
                <div ng-show="form.agrupamento.$invalid" class="help-block">Selecione um agrupamento</div>
              </div>
              <div class="form-group col-md-2" ng-class="{ 'has-error': form.agrupamento.$invalid }">
                <label for="inputAddress" class="col-form-label">UF</label>
                <select ui-select2 class="js-example-basic-multiple js-states form-control" ng-model="ind.uf" ng-model="uf_selecionadas[]" multiple="multiple" data-placeholder="Selecione" name="uf" ng-options="u.filial as u.filial for u in vm.ufs"
                  ng-change="vm.getUnidades(ind.uf)">
                </select>
                <div ng-show="form.agrupamento.$invalid" class="help-block">Selecione um agrupamento</div>
              </div>

              <div class="form-group col-md-2" ng-show="vm.unidades.length >0">
                <label for="inputAddress" class="col-form-label">Unidade</label>
                <select ui-select2 class="js-example-basic-multiple js-states form-control" ng-model="ind.unidade" ng-model="unidades_selecionadas[]" multiple="multiple" data-placeholder="Selecione" name="unidade" ng-options="u.unidade as u.unidade for u in vm.unidades">
                </select>
                <div ng-show="form.agrupamento.$invalid" class="help-block">Selecione um agrupamento</div>
              </div>
            </div>
            <button class="btn btn-primary" ng-click="vm.indicadores(ind,myForm);vm.indicadorAproveiramento(ind)">
              <span ng-show="!vm.loading">
                Enviar
              </span>

              <span ng-show="vm.loading">
                Aguarde
                <i class="fa fa-spinner fa-spin"></i>
              </span>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Indicadores De Produção</b></h4>
          <p class="text-muted m-b-30 font-15">
            Evidencia a participação dos <strong>contratos pagos</strong> em relação ao total de <strong>contratos digitados.</strong>
          </p>
          <div class="row">
            <div google-chart chart="vm.myChartGauge" style="height:60%;margin-left: 200;"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-box">
          <div class="row">
            <h4 class="m-t-0 header-title"><b>Indicadores De Pendência Banco</b></h4>
            <p class="text-muted m-b-30 font-15">
              Evidencia a participação das <strong>pendências completa e parcial</strong> em relação ao total de <strong>contratos pagos.</strong>
            </p>
            <div class="col-md-6">
              <div google-chart chart="vm.myChartGaugeParcial" style="height:60%;"></div>
            </div>
            <div class="col-md-6">
              <div google-chart chart="vm.myChartGaugeCompleta" style="height:60%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Indicadores De Pendência de Físico Completa</b></h4>
          <p class="text-muted m-b-30 font-15">
            Evidencia a quantidade dos <strong>contratos pagos e não entregues</strong> ao banco.
          </p>
          <div google-chart chart="vm.myChartColumnUF" style="height:65%;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Indicadores De Reabertura de Pendência</b></h4>
          <p class="text-muted m-b-30 font-15">
            Evidencia a quantidade dos <strong>contratos pagos e pendenciados</strong> pelo banco
          </p>
          <div google-chart chart="vm.myChartColumnBanco" style="height:65%;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Indicadores Situação WorkBank</b></h4>
          <p class="text-muted m-b-30 font-15">
            Evidencia a participação das <strong>pendencias SEM ATUAÇÃO, PENDENTE, REINCIDENTE E REGULARIZADOS</strong> em relação ao total dos <strong>contratos Pendentes.</strong>
          </p>
          <div google-chart chart="vm.myChartPie" style="height:58%;"></div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="text-dark header-title m-t-0 m-b-30">Indicador de pendência por dias de atraso</h4>

          <div class="widget-chart">
            <p class="font-600">0 à 30 dias<span class="text-primary pull-right">{{vm.zero_trinta}}%</span></p>
            <div class="progress m-b-30">
              <div class="progress-bar progress-bar-primary progress-animated wow animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.zero_trinta}}%">
              </div>
            </div>

            <p class="font-600">31 à 45 dias<span class="text-success pull-right">{{vm.trinta_quarenta}}%</span></p>
            <div class="progress m-b-30">
              <div class="progress-bar progress-bar-success progress-animated wow animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.trinta_quarenta}}%">
              </div>
            </div>

            <p class="font-600">46 à 90 dias<span class="text-warning pull-right">{{vm.quarenta_noventa}}%</span></p>
            <div class="progress m-b-30">
              <div class="progress-bar progress-bar-warning progress-animated wow animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.quarenta_noventa}}%">
              </div>
            </div>

            <p class="font-600">Acima de 90 dias<span class="text-danger pull-right">{{vm.maisnoventa}}%</span></p>
            <div class="progress m-b-30">
              <div class="progress-bar progress-bar-danger progress-animated wow animated" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.maisnoventa}}%">
              </div>
            </div>
            <ul class="list-inline m-t-15 mb-0">
              <li>
                <h5 class="text-muted m-t-20 font-16">Analisados</h5>
                <h4 class="m-b-0">{{vm.analisados}}</h4>
              </li>
              <li>
                <h5 class="text-muted m-t-20 font-16">Pagos</h5>
                <h4 class="m-b-0">{{vm.pagos}}</h4>
              </li>
              <li>
                <h5 class="text-muted m-t-20 font-16">Pendentes</h5>
                <h4 class="m-b-0">{{vm.pendentes}}</h4>
              </li>
            </ul>
            <ul class="list-inline m-t-15 mb-0">
              <li>
                <h5 class="text-muted m-t-20 font-16">Pendência Parcial</h5>
                <h4 class="m-b-0">{{vm.pendentes_parcial}}</h4>
              </li>
              <li>
                <h5 class="text-muted m-t-20 font-16">Pendência Completa</h5>
                <h4 class="m-b-0">{{vm.pendentes_completa}}</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div ng-include="'view/content/footer.html'"></div>
