  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="col-form-label">Número Contrato</label>
      <input type="number" ng-model="attribute.numero" class="form-control" placeholder="Número">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">CPF do Cliente</label>
      <input type="number" ng-model="attribute.cpf" class="form-control" placeholder="CPF Cliente">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Cliente</label>
      <input type="number" ng-model="attribute.cliente" class="form-control" placeholder="CPF Cliente">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Banco</label>
      <input type="number" ng-model="attribute.banco" class="form-control" placeholder="Banco">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">UF</label>
      <input type="number" ng-model="attribute.uf" class="form-control" placeholder="Banco">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Unidade</label>
      <input type="number" ng-model="attribute.unidade" class="form-control" placeholder="Unidade">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="col-form-label">Situação</label>
      <input type="number" ng-model="attribute.situacao" class="form-control" placeholder="Situação">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Data Operação</label>
      <input type="number" ng-model="attribute.data_operacao" class="form-control" placeholder="Data da operação">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Produto</label>
      <input type="number" ng-model="attribute.produto" class="form-control" placeholder="Produto">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Valor</label>
      <input type="number" ng-model="attribute.valor" class="form-control" placeholder="Valor">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Convênio</label>
      <input type="number" ng-model="attribute.convenio" class="form-control" placeholder="Convênio">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Data Crédito</label>
      <input type="number" ng-model="attribute.data_credito" class="form-control" placeholder="Data Crédito">
    </div>
  </div>
