  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="col-form-label">Número Contrato</label>
      <input type="number" ng-model="attribute.numero" class="form-control" placeholder="Número">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">CPF do Cliente</label>
      <input type="number" ng-model="attribute.cpf" class="form-control" placeholder="CPF Cliente">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Banco</label>
      <input type="number" ng-model="attribute.banco" class="form-control" placeholder="Banco">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">UF</label>
      <input type="number" ng-model="attribute.uf" class="form-control" placeholder="Banco">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Situação</label>
      <input type="number" ng-model="attribute.situacao" class="form-control" placeholder="Situação">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="col-form-label">Ultima Data</label>
      <input type="number" ng-model="attribute.ultima_data" class="form-control" placeholder="Data da operação">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Valor</label>
      <input type="number" ng-model="attribute.valor" class="form-control" placeholder="Valor">
    </div>
  </div>
