<div class="form-row">
    <div class="form-group col-md-2">
      <label class="col-form-label">Número Contrato</label>
      <input type="number" ng-model="attribute.numero" class="form-control" placeholder="Número">
    </div>

    <div class="form-group col-md-2">
      <label class="col-form-label">Descrição Pendência</label>
      <input type="number" ng-model="attribute.desc_pendencia" class="form-control" placeholder="Banco">
    </div>

    <div class="form-group col-md-2">
      <label class="col-form-label">Data Pendência</label>
      <input type="number" ng-model="attribute.data_pendencia" class="form-control" placeholder="Situação">
    </div>

    <div class="form-group col-md-2">
      <label class="col-form-label">Dias Pendência</label>
      <input type="number" ng-model="attribute.dias_pendencia" class="form-control" placeholder="Data da operação">
    </div>
    
    <div class="form-group col-md-2">
      <label class="col-form-label">Agente</label>
      <input type="number" ng-model="attribute.agente" class="form-control" placeholder="Valor">
    </div>
  </div>
