<div class="form-row">
  <div class="form-group col-md-2">
    <label class="col-form-label">Cliente</label>
    <input type="number" ng-model="attribute.cliente" class="form-control" >
  </div>
  <div class="form-group col-md-2">
    <label class="col-form-label">CPF</label>
    <input type="number" ng-model="attribute.cpf" class="form-control">
  </div>
  <div class="form-group col-md-2">
    <label class="col-form-label">Banco</label>
    <input type="number" ng-model="attribute.banco" class="form-control" >
  </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Número Contrato</label>
      <input type="number" ng-model="attribute.numero_contrato" class="form-control" >
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Produto</label>
      <input type="number" ng-model="attribute.produto" class="form-control">
    </div>
    <div class="form-group col-md-2">
      <label class="col-form-label">Operação</label>
      <input type="number" ng-model="attribute.operacao" class="form-control">
    </div>

    <div class="form-group col-md-2">
      <label class="col-form-label">Nome Agente</label>
      <input type="number" ng-model="attribute.nome_agente" class="form-control">
    </div>

    <div class="form-group col-md-2">
      <label class="col-form-label">Valor Saldo</label>
      <input type="number" ng-model="attribute.valor_saldo" class="form-control">
    </div>

    <div class="form-group col-md-2">
      <label class="col-form-label">Data Operação</label>
      <input type="number" ng-model="attribute.data_operacao" class="form-control">
    </div>
  </div>
