<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu">
            <a href="#/indicadores-contestacao"><i class="md-insert-chart"></i>Indicadores Contestações</a>
          </li>
          <li class="has-submenu">
            <a href="#/novo-contestacao"><i class="md-add-box"></i>Novo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title">Pendência</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="m-t-0 m-b-30 header-title">Acompanhamento de Pendência</h4>
          <form role="form" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-2 col-form-label">Período</label>
                  <div class="col-3">
                    <input type="date" class="form-control form-control-sm" ng-model="pesquisa.data_inicial">
                  </div>
                  <div class="col-3">
                    <input type="date" class="form-control form-control-sm" ng-model="pesquisa.data_final">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-2 col-form-label">Número Contrato</label>
                  <div class="col-3">
                    <input type="text" class="form-control form-control-sm" ng-model="pesquisa.numero_contrato" placeholder="Número do Contrato">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-2 col-form-label">CPF Cliente</label>
                  <div class="col-3">
                    <input type="text" class="form-control form-control-sm" ng-model="pesquisa.cpf" placeholder="CPF" ui-cpf>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-2 col-form-label">Situação</label>
                  <div class="col-3">
                    <select type="text" class="form-control form-control-sm" ng-model="pesquisa.id_tipo_pendencia" ng-required="true" ng-options="s.id as s.tipo for s in vm.situacao">
                      <option value="">Selecione</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="inputPassword3" class="col-1 col-form-label">UF</label>
                  <div class="col-3">
                    <select type="text" class="form-control form-control-sm" name="uf" ng-model="pesquisa.uf" ng-options="u.filial as u.filial for u in vm.unidades">
                      <option value="">Selecione</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-1 col-form-label">Unidade</label>
                  <div class="col-3">
                    <select type="text" class="form-control form-control-sm" name="tipo" ng-model="pesquisa.tipo" n>
                      <option value="">Todos</option>
                      <option value="Documental">Documental</option>
                      <option value="Contestacao">Contestação</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-1 col-form-label">Banco</label>
                  <div class="col-3">
                    <select type="text" class="form-control form-control-sm" name="banco" ng-model="pesquisa.banco" ng-options="b.devname as b.devname for b in vm.bancos">
                      <option value="">Selecione</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mb-0 row">
              <div class="col-3">
                <button type="submit" class="btn btn-primary" ng-click="vm.pesquisar(pesquisa)">

                  <span ng-show="!vm.loading">
                    Pesquisar
                  </span>

                  <span ng-show="vm.loading">
                    Aguarde
                    <i class="fa fa-spinner fa-spin"></i>
                  </span>

                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-12" ng-show="vm.tableParams.data.length>0">
        <div class="card-box">
          <div ng-show="vm.error" class="row justify-content-md-center" style="text-align: center;">
            <div class="col-md-3">
              <div class="alert alert-warning" role="alert">
                <strong>{{vm.error_msg}}</strong>
              </div>
            </div>
          </div>
          <div ng-show="vm.success" class="row justify-content-md-center" style="text-align: center;">
            <div class="col-md-3">
              <div class="alert alert-success" role="alert">
                <strong>{{vm.msg_success}}</strong>
              </div>
            </div>
          </div>
          <div>
            <span>Total Regitros: {{vm.pendencias.length}} | Selecionados: {{vm.totalSelecionados()}}</span>
            <div class="form-group col-md-2 pull-right">
              <input type="search" class="form-control" name="name" placeholder="Pesquisar" ng-model="Filtro" required>
            </div>
              <button class="btn btn-success pull-right" ng-click="vm.baixaPendencia(2)" ng-if="vm.pendencia_pesquisa == 1 || vm.pendencia_pesquisa == 4">Marcar Pendente</button>
              <button class="btn btn-success pull-right" ng-click="vm.baixaPendencia(3)" ng-if="vm.pendencia_pesquisa == 2">Marcar Reg Empresa</button>
            <table class="table table-striped add-edit-table dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info" ng-table="vm.tableParams" show-filter="false">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Operação</th>
                  <th>Banco</th>
                  <th>Unidade</th>
                  <th>UF</th>
                  <th>Contrato</th>
                  <th>Cliente</th>
                  <th>CPF</th>
                  <th>Valor</th>
                  <th>Pendência</th>
                  <th>Situação</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-class="{selecionado : c.selecionado}" ng-repeat="c in $data | filter: Filtro">
                  <td><input type="checkbox" ng-model="c.selecionado"/></td>
                  <td>{{c.data_operacao}}</td>
                  <td>{{c.devname_banco}}</td>
                  <td>{{c.unidade}}</td>
                  <td>{{c.uf}}</td>
                  <td>{{c.numero}}</td>
                  <td>{{c.cliente}}</td>
                  <td>{{c.cpf}}</td>
                  <td>{{c.valor}}</td>
                  <td>{{c.desc_pendencia}}</td>
                  <td>
                    <span ng-show="c.id_tipo_pendencia == 1" class="badge badge-danger">Sem Atuação</span>
                    <span ng-show="c.id_tipo_pendencia == 2" class="badge badge-warning">Pendente</span>
                    <span ng-show="c.id_tipo_pendencia == 3" class="badge badge-primary">Reg Empresa</span>
                    <span ng-show="c.id_tipo_pendencia == 4" class="badge badge-warning">Reincidente</span>
                    <span ng-show="c.id_tipo_pendencia == 5" class="badge badge-success">Regularizado</span>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'view/content/footer.html'"></div>
