<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                QUALIDADE É O NOSSO COMPROMISSO PARA A EXCELÊNCIA ! 
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
