<div class="form-row">
  <div class="form-group col-md-2" ng-class="{ 'has-error': form.data_inicial.$invalid }">
    <label for="inputEmail4" class="col-form-label">Data Inicial</label>
    <input type="date" class="form-control" name="data_inicial" ng-model="ind.data_inicial" ng-required="true">
    <div ng-show="form.data_inicial.$invalid" class="help-block">Preencha este campo</div>
  </div>
  <div class="form-group col-md-2" ng-class="{ 'has-error': form.data_final.$invalid }">
    <label for="inputPassword4" class="col-form-label">Data Final</label>
    <input type="date" class="form-control" name="data_final" ng-model="ind.data_final" ng-required="true">
    <div ng-show="form.data_final.$invalid" class="help-block">Preencha este campo</div>
  </div>
  <div class="form-group col-md-2" ng-class="{ 'has-error': form.agrupamento.$invalid }">
    <label for="inputAddress" class="col-form-label">Agrupamento</label>
    <select ui-select2 class="js-example-basic-multiple js-states form-control" ng-model="ind.agrupamento" ng-model="agrupamento[]" multiple="multiple"
    data-placeholder="Selecione" ng-change="get_agrupamento(ind.agrupamento)" name="agrupamento" ng-required="true">
      <option value="c.uf">UF</option>
      <option value="c.devname_bank">Banco</option>
      <option value="c.company_unit">Unidade</option>
      <option value="c.operation">Operação</option>
      <option value="c.devname_partnership">Convênio</option>
    </select>
    <div ng-show="form.agrupamento.$invalid" class="help-block">Selecione um agrupamento</div>
  </div>
  <div class="col-md-2" ng-show="filtros.length>0">
    <label for="inputPassword4" class="col-form-label">Filtro
    </label>
    <select ui-select2 allow-clear="true" class="js-example-basic-multiple form-control" name="f.selected" ng-model="number"
    multiple="multiple" data-placeholder="Todos" ng-options="f.name group by f.group for f in filtros">
    </select>
  </div>
</div>
