<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{vm.titulo}} Portabilidade</h3>
</div>
<div class="modal-body" id="modal-body">
    <div ng-show="vm.error_form" class="row justify-content-md-center" style="text-align: center;">
      <div class="col-md-3">
        <div class="alert alert-warning" role="alert">
          <strong>{{vm.error_msg}}</strong>
        </div>
      </div>
    </div>
    <div ng-show="vm.success_form" class="row justify-content-md-center" style="text-align: center;">
      <div class="col-md-3">
        <div class="alert alert-success" role="alert">
          <strong>{{vm.success_msg}}</strong>
        </div>
      </div>
    </div>
    <form name="myForm" novalidate>
    <!-- <fieldset ng-disabled="vm.detalhes"> -->
    <div class="form-row">
      <div class="form-group col-md-7" ng-class="{ 'has-error': vm.form.cliente.$invalid }">
        <label class="col-form-label">Cliente</label>
        <input type="text" class="form-control" name="cliente" placeholder="Cliente" ng-model="dados.cliente" ng-required="true">
        <div ng-show="vm.form.cliente.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-3" ng-class="{ 'has-error': vm.form.cpf.$invalid }">
        <label class="col-form-label">CPF</label>
        <input type="text" class="form-control" name="cpf" placeholder="CPF" ng-model="dados.cpf" ng-required="true" ui-cpf>
        <div ng-show="vm.form.cpf.$invalid" class="help-block">Preencha este campo</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3" ng-class="{ 'has-error': vm.form.banco.$invalid }">
        <label class="col-form-label">Banco</label>
        <select type="text" class="form-control" name="banco" ng-model="dados.banco" ng-options="b.devname as b.devname for b in vm.bancos" ng-required="true">
          <option value="">Selecione</option>
        </select>
        <div ng-show="vm.form.banco.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-3" ng-class="{ 'has-error': vm.form.numero_contrato.$invalid }">
        <label class="col-form-label">Número Contrato</label>
        <input type="text" class="form-control" placeholder="Número do contrato" name="numero_contrato" ng-model="dados.numero_contrato" ng-required="true">
        <div ng-show="vm.form.numero_contrato.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-3" ng-class="{ 'has-error': vm.form.valor_contrato.$invalid }">
        <label class="col-form-label">Valor Saldo</label>
        <input type="text" class="form-control" placeholder="Valor Saldo" name="valor_saldo" ng-model="dados.valor_saldo" ng-required="true" ui-money-mask="2">
        <div ng-show="vm.form.valor_saldo.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-3" ng-class="{ 'has-error': vm.form.data_saldo.$invalid }">
        <label class="col-form-label">Data Saldo</label>
        <input type="text" class="form-control" placeholder="Data Saldo" name="data_saldo" ng-model="dados.data_saldo" ng-required="true" ui-date>
        <div ng-show="vm.form.data_saldo.$invalid" class="help-block">Preencha este campo</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4" ng-class="{ 'has-error': vm.form.unidade.$invalid }">
        <label class="col-form-label">Unidade</label>
        <input type="text" class="form-control" name="unidade" placeholder="Undiade" ng-model="dados.unidade" ng-required="true">
        <div ng-show="vm.form.unidade.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-2" ng-class="{ 'has-error': vm.form.uf.$invalid }">
        <label class="col-form-label">UF</label>
        <select type="text" class="form-control" name="uf" ng-model="dados.uf" ng-options="u.filial as u.filial for u in vm.unidades" ng-required="true">
          <option value="">Selecione</option>
        </select>
        <div ng-show="vm.form.uf.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-2" ng-class="{ 'has-error': vm.form.agente.$invalid }">
        <label class="col-form-label">Agente</label>
        <select type="text" class="form-control" name="tipo_agente" ng-model="dados.tipo_agente" ng-required="true">
          <option value="">Selecione</option>
          <option value="corretor">Corretor</option>
          <option value="balcao">Balcão</option>
        </select>
        <div ng-show="vm.form.agente.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-3">
        <label class="col-form-label">Nome Agente</label>
        <input type="text" class="form-control" name="nome_agente" ng-model="dados.nome_agente">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2" ng-class="{ 'has-error': vm.form.data_operacao.$invalid }">
        <label class="col-form-label">Data Operação</label>
        <input type="text" class="form-control" name="data_operacao" placeholder="Data Operação" ng-model="dados.data_operacao" ng-required="true" ui-date>
        <div ng-show="vm.form.data_operacao.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-2" ng-class="{ 'has-error': vm.form.produto.$invalid }">
        <label class="col-form-label">Produto</label>
        <input type="text" class="form-control" name="produto" ng-model="dados.produto" placeholder="Produto" ng-required="true"/>
        <div ng-show="vm.form.produto.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-2" ng-class="{ 'has-error': vm.form.operacao.$invalid }">
        <label class="col-form-label">Operação</label>
        <input type="text" class="form-control" name="operacao" ng-model="dados.operacao" placeholder="Operação" ng-required="true" />
        <div ng-show="vm.form.operacao.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-2" ng-class="{ 'has-error': vm.form.valor_prestacao.$invalid }">
        <label class="col-form-label">Valor Prestação</label>
        <input type="text" class="form-control" name="valor_prestacao" ng-model="dados.valor_prestacao" placeholder="Valor da Prestação" ng-required="true" ui-money-mask="2"/>
        <div ng-show="vm.form.valor_prestacao.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-3" ng-show="vm.detalhes">
        <label class="col-form-label">Valores Recuperados</label>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="valor in vm.valores_recuperados">{{valor.valor_recuperado | currency}} - {{valor.data | date: 'dd/MM/yyyy'}}
            <!-- <span class="badge badge-danger badge-pill" style="cursor: pointer;" ng-click="vm.remove_email($index)">X</span> -->
          </li>
        </ul>
      </div>
    </div>
    <div class="form-row" ng-hide="vm.detalhes">
      <div class="form-group col-md-4 ">
        <label class="col-form-label">E-mail</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="email" placeholder="E-mail" ng-model="email">
          <div class="input-group-append">
            <button class="btn btn-primary btn-outline-secondary" ng-click="vm.add_email(email)">Add</button>
          </div>
        </div>
        <div ng-show="vm.error_email" class="help-block">Digite um E-mail</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="col-form-label">Observação</label>
        <textarea rows="4" cols="80" class="form-control" name="observacao" placeholder="Digite uma Observação com até 800 carcteres" maxlength="800" ng-model="dados.observacao">
        </textarea>
      </div>
      <div class="form-group col-md-3">
        <label class="col-form-label">Lista de E-mails</label>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="e in vm.lista_emails">{{e.email}}
            <span class="badge badge-danger badge-pill" style="cursor: pointer;" ng-click="vm.remove_email($index)">X</span>
          </li>
        </ul>
      </div>

    </div>
    <div class="form-group" ng-hide="vm.detalhes">
    <div class="form-check">
      <input class="form-check-input" ng-model="dados.enviar_email" type="checkbox" id="gridCheck" />
      <label class="form-check-label" for="gridCheck">
        Enviar E-mail
      </label>
    </div>
  </div>
</form>
</div>
<!-- </fieldset> -->
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.cadastrar(dados,myForm)" ng-hide="vm.detalhes">Salvar</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
