<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Card</h3>
</div>
<div class="modal-body" id="modal-body">

  <div class="form-group">
    <label for="exampleInputEmail1">Título</label>
    <input type="text" class="form-control" placeholder="Título" ng-model="dados.titulo">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Texto</label>
    <textarea rows="4" cols="80" class="form-control" maxlength="100" ng-model="dados.texto"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok(dados)">Salvar</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
