<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Situação</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="col-md-6">
    <h4 class="header-title">Contrato: {{vm.contrato}}</h4>
    <div class="mt-3">
      <div class="custom-control custom-radio">
        <input type="radio" ng-model="situacao.tipo" id="0" name="0" value="0" class="custom-control-input">
        <label class="custom-control-label" for="0">Aguardando Retorno</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" ng-model="situacao.tipo" id="1" name="1" value="1" class="custom-control-input">
        <label class="custom-control-label" for="1">Enviado Defesa</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" ng-model="situacao.tipo" id="2" name="2" value="2" class="custom-control-input">
        <label class="custom-control-label" for="2">Não Enviado Defesa</label>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok(situacao)">OK</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
