<form name="myForm"novalidate >
<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Valores Recuperados</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="form-group" ng-class="{ 'has-error': vm.form.valor_recuperado.$invalid }">
    <label for="exampleInputEmail1">Valor Recuperado</label>
    <input type="text" class="form-control" placeholder="Valor Recuperado" ng-model="dados.valor_recuperado" ui-money-mask="2" name="valor_recuperado" ng-required="true" />
    <div ng-show="vm.form.valor_recuperado.$invalid" class="help-block">Preencha este campo</div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': vm.form.data.$invalid }">
    <label for="exampleInputEmail1">Data</label>
    <input type="text" class="form-control" placeholder="Data do Valor Recuperado" ng-model="dados.data" ui-date name="data" ng-required="true" />
    <div ng-show="vm.form.data.$invalid" class="help-block">Preencha este campo</div>
  </div>
  <button class="btn btn-primary"  ng-click="vm.add_valor(dados, myForm)">Adicionar</button>
  <div class="mt-3">
    <label class="col-form-label">Lista de Valores</label>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="valor in vm.valores_recuperados">{{valor.valor_recuperado | currency}} - {{valor.data | date: 'dd/MM/yyyy'}}
        <span class="badge badge-danger badge-pill" style="cursor: pointer;" ng-click="vm.remove_valor($index)">X</span>
      </li>
    </ul>
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">Enviar</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
  </div>
</form>
