<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Contestação </h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="col-md-6">
    <h4 class="header-title">Contrato: {{vm.numero_contrato}}</h4>
    <div class="mt-3">
      <div class="custom-control custom-radio">
        <input type="radio" ng-model="situacao.laudo" id="Procedente" name="Procedente" value="Procedente" class="custom-control-input">
        <label class="custom-control-label" for="Procedente">Procedente</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" ng-model="situacao.laudo" id="Improcedente" name="Improcedente" value="Improcedente" class="custom-control-input">
        <label class="custom-control-label" for="Improcedente">Improcedente</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" ng-model="situacao.laudo" id="Aguard Laudo Banco" name="Aguard Laudo Banco" value="Aguard Laudo Banco" class="custom-control-input">
        <label class="custom-control-label" for="Aguard Laudo Banco">Aguard Laudo Banco</label>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok(situacao)">OK</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
