<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Detalhes da Proposta</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="col-md-6">
    <h4 class="header-title">Contrato: {{vm.contrato}}</h4>
    <div class="mt-3">
      <div class="custom-control custom-radio">
        <input type="radio" ng-model="situacao.tipo" id="Nao Averbado" name="Nao Averbado" value="Nao Averbado" class="custom-control-input">
        <label class="custom-control-label" for="Nao Averbado">Não Averbado</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" ng-model="situacao.tipo" id="Averbado" name="Averbado" value="Averbado" class="custom-control-input">
        <label class="custom-control-label" for="Averbado">Averbado</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" ng-model="situacao.tipo" id="Averbado Parcial" name="Averbado Parcial" value="Averbado Parcial" class="custom-control-input">
        <label class="custom-control-label" for="Averbado Parcial">Averbado Parcial</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" ng-model="situacao.tipo" id="Cancelado" name="Cancelado" value="Cancelado" class="custom-control-input">
        <label class="custom-control-label" for="Cancelado">Cancelado</label>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok(situacao)">OK</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
