<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Enviar Notificação</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="col-md-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="email" placeholder="E-mail" ng-model="email">
        <div class="input-group-append">
          <button class="btn btn-primary btn-outline-secondary" ng-click="vm.add_email(email)">Add</button>
        </div>
      </div>
    </div>
  <div class="mt-3">
    <label class="col-form-label">Lista de E-mails</label>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="e in vm.lista_emails">{{e.email}}
        <span class="badge badge-danger badge-pill" style="cursor: pointer;" ng-click="vm.remove_email($index)">X</span>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok(situacao)">Enviar</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
  </div>
