<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Valor Estorno</h3>
</div>
<div class="modal-body" id="modal-body">

  <div class="form-group">
    <label for="exampleInputEmail1">Valor Estornado</label>
    <input type="text" class="form-control" placeholder="Valor Estornado" ng-model="dados.valor_estorno" ui-money-mask="2" />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Data Estorno</label>
    <input type="text" class="form-control" placeholder="Data do Estorno" ng-model="dados.data_estorno" ui-date />
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok(dados)">Salvar</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
