<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{vm.title}}</h3>
</div>
<div class="modal-body" id="modal-body">

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">Sim</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancelar</button>
  </div>
