/* @media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
} */
.success-row{
  color : green !important;
}

.primary-row{
  color : blue !important;
}

.danger-row{
  color : red !important;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

  .btn-grey:focus, .btn-grey:active:focus {
    outline: 0;
  }
  .navbar-nav {
    margin: 0;
  }

  .results {
    margin-top: 20px;
  }
  .multiselect-menu{
    margin-left: 5px !important;
  }
  /**
   * overwriting the default max-width so that we can see more
   * of the value names.
   */
  .multiselect-container .filter-wrap .filter-values {
    max-width: 120px;
  }
/* #topnav .topbar-main .logo {

  margin-top: 11px !important;
} */
.topbar-custom .nav-link {
    font-size: 17px;
    font-weight: 600;
  }

/* .card-img-top{
  width:334px;
  height:210px;
} */
.ativo {
color: #f05050;
}
.bloqueado {
color: #81c867;
}
