<header id="topnav">
    <div ng-include="'view/content/topbar.php'"></div>
    <div class="navbar-custom">
      <div class="container-fluid">
        <div id="navigation">
          <ul class="navigation-menu">
            <li class="has-submenu">
              <a href="#/indicadores-contestacao" ng-click="vm.voltar()"><i class="md-reply"></i>Voltar</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="wrapper">
    <div class="container-fluid">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <h4 class="page-title">Administração</h4>
          </div>
        </div>
      </div>
      <!-- end page title end breadcrumb -->
      <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Usuários">
                        <div ng-include="'view/admin/UsuariosAdmin.html'"></div>
                    </uib-tab>
                    <uib-tab index="1" heading="Unidades">
                        <div ng-include="'view/admin/UnidadesAdmin.html'"></div>
                    </uib-tab>
                    
                </uib-tabset>
            </div> <!-- end card-box-->
        </div> <!-- end col -->
    </div>
      
    </div>
  <div ng-include="'view/content/footer.html'"></div>
  