<div class="unidades">
    <h5>Unidades</h5>
    <form name="formUnidade" novalidate>
        <div ng-show="vm.alert" class="row justify-content-md-center" style="text-align: center;">
            <div class="col-md-3">
                <div class="alert alert-{{vm.error_status}}" role="alert">
                    <strong>{{vm.error_msg}}</strong>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3" ng-class="{ 'has-error': form.uf.$invalid }">
                <label class="col-form-label">UF</label>
                <select class="form-control" name="uf" placeholder="UF" ng-model="unidade.uf" 
                    ng-options="uf.filial as uf.filial for uf in vm.ufs" required>
                    <option value="">Selecione</option>
                </select>
                <div ng-show="form.uf.$invalid" class="help-block">Preencha este campo</div>
            </div>
            <div class="form-group col-md-3" ng-class="{ 'has-error': form.nome.$invalid }">
                <label class="col-form-label">Unidade</label>
                <input type="text" class="form-control" name="nome" placeholder="nome" ng-model="unidade.nome"
                    ng-required="true">
                <div ng-show="form.nome.$invalid" class="help-block">Preencha este campo</div>
            </div>
        </div>
        <button type="submit" class="btn btn-success" ng-click="vm.cadastrar_unidade(unidade,formUnidade)">Salvar</button>
    </form>
    <table class="table table-striped add-edit-table dataTable no-footer" id="datatable-editable" role="grid"
        aria-describedby="datatable-editable_info">
        <thead>
            <tr>
                <th>#</th>
                <th>UF</th>
                <th>Unidade</th>
                <!-- <th>Ação</th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="u in vm.unidades | orderBy:sortType2:sortReverse2 | filter: Filtro">
                <td>{{$index+1}}</td>
                <td>{{u.uf}}</td>
                <td>{{u.nome}}</td>
                <!-- <td class="actions">
                    <a ng-if="vm.verificarPermissao('/editar_usuario')" href="#/usuarios/novo/{{u.id}}"
                        class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="edit"
                        data-original-title="Edit"><i class="fas fa-pen"></i></a>
                    <a ng-if="vm.verificarPermissao('/desativar_usuario')" href ng-click="vm.alterar_situacao(u)"><i
                        class="fa fa-power-off"
                        ng-class="{'ativo' : u.situacao == 0, 'bloqueado': u.situacao == 1}"></i></a>
                </td> -->
                <!-- color: #81c867; -->
            </tr>
        </tbody>
    </table>
</div>