<div class="usuarios">
    <form name="myForm" novalidate>
        <div ng-show="error_form" class="row justify-content-md-center" style="text-align: center;">
            <div class="col-md-3">
                <div class="alert alert-warning" role="alert">
                    <strong>{{error_msg}}</strong>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6" ng-class="{ 'has-error': form.name.$invalid }">
                <label class="col-form-label">Nome</label>
                <input type="text" class="form-control" name="name" placeholder="Nome" ng-model="user.name" required>
                <div ng-show="form.name.$invalid" class="help-block">Preencha este campo</div>
            </div>
            <div class="form-group col-md-6" ng-class="{ 'has-error': form.username.$invalid }">
                <label class="col-form-label">Usuário</label>
                <input type="text" class="form-control" name="username" placeholder="Usuário" ng-model="user.username"
                    ng-required="true">
                <div ng-show="form.username.$invalid" class="help-block">Preencha este campo</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6" ng-class="{ 'has-error': form.password.$invalid }">
                <label class="col-form-label">Senha</label>
                <input type="password" class="form-control" name="password" placeholder="Senha"
                    ng-model="user.password">
                <div ng-show="form.password.$invalid" class="help-block">Preencha este campo</div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label">Confirmar Senha</label>
                <input type="password" class="form-control" placeholder="Confirmar Senha" ng-model="user.p2">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6" ng-class="{ 'has-error': form.perfil.$invalid }">
                <label class="col-form-label">Perfil</label>
                <select type="text" class="form-control" name="perfil" placeholder="Senha" name="perfil"
                    ng-model="user.id_perfil" ng-options="p.id as p.perfil for p in vm.perfil" ng-required="true">
                    <option value="">Selecione</option>
                </select>
                <div ng-show="form.perfil.$invalid" class="help-block">Preencha este campo</div>
            </div>
            <div class="form-group col-md-6" ng-class="{ 'has-error': form.email.$invalid }">
                <label class="col-form-label">E-mail</label>
                <input type="text" class="form-control" name="email" placeholder="Digite o e-mail" name="email"
                    ng-model="user.email" ng-required="true">
                <div ng-show="form.email.$invalid" class="help-block">Preencha este campo</div>
            </div>
        </div>
        <button type="submit" class="btn btn-success" ng-click="vm.cadastrar_usuario(user,myForm)">Salvar</button>
    </form>

    <div class="row">
        <div class="col-md-6" ng-show="user.id_perfil == 2 || user.id_perfil == 3">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Permissões</h4>
                <ul class="tree">
                    <node-tree children="vm.tree"></node-tree>
                </ul>
            </div>
        </div>
        <div class="col-md-6" ng-show="user.id_perfil == 2">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Filiais</h4>
                <div class="list">
                    <div class="checkbox checkbox-success mb-2" ng-repeat="filial in vm.filiais">
                        <input type="checkbox" id="{{$index+1}}" value="{{filial}}"
                            ng-checked="vm.filiaisSelecionadas.indexOf(filial) > -1"
                            ng-click="vm.toggleSelection(filial)">
                        <label for="{{$index+1}}">
                            {{filial.filial}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped add-edit-table dataTable no-footer" id="datatable-editable" role="grid"
        aria-describedby="datatable-editable_info">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Usuário</th>
                <th>Perfil</th>
                <th>Situação</th>
                <th>Último Acesso</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="u in vm.usuarios | orderBy:sortType2:sortReverse2 | filter: Filtro">
                <td>{{$index+1}}</td>
                <td>{{u.name}}</td>
                <td>{{u.username}}</td>
                <td>{{u.perfil}}</td>
                <td>
                    <span ng-show="u.situacao == 0" class="badge badge-success">Ativo</span>
                    <span ng-show="u.situacao == 1" class="badge badge-danger">Bloqueado</span>
                </td>
                <td>{{u.ultimo_acesso}}</td>
                <td class="actions">
                    <a ng-if="vm.verificarPermissao('/editar_usuario')" href="#/usuarios/novo/{{u.id}}"
                        class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="edit"
                        data-original-title="Edit"><i class="fas fa-pen"></i></a>
                    <a ng-if="vm.verificarPermissao('/desativar_usuario')" href ng-click="vm.alterar_situacao(u)"><i
                            class="fa fa-power-off"
                            ng-class="{'ativo' : u.situacao == 0, 'bloqueado': u.situacao == 1}"></i></a>
                </td>
                <!-- color: #81c867; -->
            </tr>
        </tbody>
    </table>
</div>