<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <!-- <li class="has-submenu">
            <a href="#/indicadores-contestacao"><i class="md-insert-chart"></i>Indicadores Contestações</a>
          </li> -->
          <!-- <li class="has-submenu">
            <a href="#/cadastro-portabilidade"><i class="md-add-box"></i>Novo</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title">Portabilidade</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="m-t-0 m-b-30 header-title">Pesquisa Portabilidade</h4>
          <form role="form" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-2 col-form-label">Período</label>
                  <div class="col-3">
                    <input type="date" class="form-control form-control-sm" ng-model="vm.filtros.data_inicial">
                  </div>
                  <div class="col-3">
                    <input type="date" class="form-control form-control-sm" ng-model="vm.filtros.data_final">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-2 col-form-label">Número Contrato</label>
                  <div class="col-3">
                    <input type="text" class="form-control form-control-sm" ng-model="vm.filtros.numero_contrato" placeholder="Número do Contrato">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-2 col-form-label">CPF Cliente</label>
                  <div class="col-3">
                    <input type="text" class="form-control form-control-sm" ng-model="vm.filtros.cpf" placeholder="CPF" ui-cpf>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-2 col-form-label">Situação</label>
                  <div class="col-3">
                    <select type="text" class="form-control form-control-sm" ng-model="vm.filtros.situacao" ng-required="true">
                      <option value="">Todos</option>
                      <option value="Averbado">Averbado</option>
                      <option value="Nao Averbado">Não Averbado</option>
                      <option value="Averbado Parcial">Averbado Parcial</option>
                      <option value="Cancelado">Cancelado</option>
                      <option value="NULL">Em Branco</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="inputPassword3" class="col-1 col-form-label">UF</label>
                  <div class="col-3">
                    <select type="text" class="form-control form-control-sm" name="uf" ng-model="vm.filtros.uf" ng-options="u.filial as u.filial for u in vm.unidades">
                      <option value="">Selecione</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-1 col-form-label">Banco</label>
                  <div class="col-3">
                    <select type="text" class="form-control form-control-sm" name="uf" ng-model="vm.filtros.banco" ng-options="b.banco as b.banco for b in vm.bancos">
                      <option value="">Selecione</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mb-0 row">
              <div class="col-3">
                <button type="submit" class="btn btn-primary" ng-click="vm.pesquisar(pesquisa)">Pesquisar</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card-box">
          <div class="row">
            <div class="col-auto mr-auto">
              <h4 class="m-t-0 header-title">Lista de Portabilidade</h4>
            </div>
            <div class="col-auto">
              <button class="btn btn-success pull-right" ng-click="vm.open_cadastrar()" ng-if="vm.verificarPermissao('/cadastro_portabilidade')">Adicionar <i class="fa fa-plus"></i></button>
            </div>
          </div>
          <div ng-show="vm.error" class="row justify-content-md-center" style="text-align: center;">
            <div class="col-md-3">
              <div class="alert alert-warning" role="alert">
                <strong>{{vm.error_msg}}</strong>
              </div>
            </div>
          </div>
          <div ng-show="vm.success" class="row justify-content-md-center" style="text-align: center;">
            <div class="col-md-3">
              <div class="alert alert-success" role="alert">
                <strong>{{vm.msg_success}}</strong>
              </div>
            </div>
          </div>
          <div ng-show="vm.portabilidades_cadastradas.length >0">
            <div class="row justify-content-between">
              <form class="form-inline">
                <div class="form-group" style="margin-left: 12px;">
                  <span>Mostrar</span>
                  <select class="custom-select mr-sm-2" style="margin-left: 10px;" name="num_registros" ng-model="vm.num_registro_atual" ng-change="vm.pesquisar(vm.paginacao.pagina_atual,vm.num_registro_atual)" ng-options="v.valor as v.valor for v in vm.num_registros">
                  </select>
                  <span>Registros</span>
                </div>
              </form>
                <div class="form-group col-md-2" style="margin-top: 10px;">
                  <input type="search" class="form-control" name="name" placeholder="Pesquisar" ng-model="Filtro" required>
                </div>
            </div>
            <table class="table table-striped add-edit-table dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Banco</th>
                  <th>Cliente</th>
                  <th>CPF</th>
                  <th>Operação</th>
                  <th>Contrato</th>
                  <th>UF</th>
                  <th>Unidade</th>
                  <th>Data Saldo</th>
                  <th>Valor Saldo</th>
                  <th style="text-align: center;color: red;"><i class="fas fa-dollar-sign"></i></th>
                  <th style="text-align: center;color: green;"><i class="fas fa-dollar-sign"></i></th>
                  <th>Situção</th>
                  <th>Dias em Atraso</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="c in vm.portabilidades_cadastradas | filter: Filtro">
                  <td>{{$index+1}}</td>
                  <td>{{c.banco}}</td>
                  <td>{{c.cliente}}</td>
                  <td>{{c.cpf}}</td>
                  <td>{{c.operacao}}</td>
                  <td>{{c.numero_contrato}}</td>
                  <td>{{c.uf}}</td>
                  <td>{{c.unidade}}</td>
                  <td>{{c.data_saldo | date: 'dd/MM/yyyy'}}</td>
                  <td>{{c.valor_saldo | currency}}</td>
                  <td style="color:red;font-weight: bold;">{{c.valor_estorno | currency}}</td>
                  <td style="color:green;font-weight: bold;">{{c.total_recuperado | currency}}</td>
                  <td>
                    <span ng-class="{'badge badge-success' : c.situacao == 'Averbado',
                    'badge badge-warning': c.situacao == 'Averbado Parcial',
                    'badge badge-secondary': c.situacao == 'Cancelado',
                    'badge badge-danger': c.situacao == 'Nao Averbado'}">{{c.situacao}}</span>
                  </td>
                  <td><span>{{c.dias}}</span></td>
                  <td class="actions">
                    <div class="dropdown">
                      <button class="btn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bars" aria-hidden="true"></i>
                      </button>
                      <div class="dropdown-menu menu-list" style="min-width: 4.5em;" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-content has-text-centered" style="min-width: 4.5em; max-height: 20em;">
                          <li>
                            <a ng-if="vm.verificarPermissao('editar_portabilidade')" class="dropdown-item" href ng-click="vm.open_cadastrar(c, false)">Editar</a>
                          </li>
                          <li>
                            <a ng-if="vm.verificarPermissao('mudar_situacao_portabilidade')" class="dropdown-item" href ng-click="vm.open(c)">Mudar Situação</a>
                          </li>
                          <li>
                            <a ng-if="vm.verificarPermissao('valor_estornado')" class="dropdown-item" href ng-click="vm.open_valor_estornado(c)">Valor Estornado</a>
                          </li>
                          <li>
                            <a ng-if="vm.verificarPermissao('valor_recuperado')" class="dropdown-item" href ng-click="vm.open_valor_recuperado(c)">Valor Recuperado</a>
                          </li>
                          <li>
                            <a ng-if="vm.verificarPermissao('detalhes')" class="dropdown-item" href ng-click="vm.open_cadastrar(c, true)">Detalhes</a>
                          </li>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="row justify-content-between">
              <div class="col-auto mr-auto">
              Mostrando {{vm.num_registro_atual}} de {{vm.paginacao.total_registros}} Registros
              </div>
              <div class="col-auto">
                <paging class="center-align" page="vm.paginacao.pagina_atual"
                page-size="vm.paginacao.registros_por_pagina" total="vm.paginacao.total_registros"
                paging-action="vm.pesquisar(page, vm.num_registro_atual)" show-prev-next="true" ></paging>
              </div>
            </div>

        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'view/content/footer.html'"></div>
