<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu">
            <a href="#/home-sde"><i class="md-reply"></i>Voltar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title">Indicadores SDE</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Filtro de Indicadores</h4>
          <ui-atualizacao></ui-atualizacao>
          <form name="myForm" novalidate>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputEmail4" class="col-form-label">Data Inicial</label>
                <input type="date" class="form-control" name="data_inicial" ng-model="ind.data_inicial" ng-required="true">
                <div ng-show="form.data_inicial.$invalid" class="invalid-feedback">Preencha este campo</div>
              </div>
              <div class="form-group col-md-2">
                <label for="inputPassword4" class="col-form-label">Data Final</label>
                <input type="date" class="form-control" name="data_final" ng-model="ind.data_final" ng-required="true">
                <div ng-show="form.data_final.$invalid" class="form-control-feedback">Preencha este campo</div>
              </div>
              <div class="form-group col-md-2">
                <label for="inputAddress" class="col-form-label">Agrupamento</label>
                <select class="form-control" ng-model="ind.agrupamento" ng-change="get_agrupamento(ind.agrupamento)">
                  <option value="uf">UF</option>
                  <option value="unidade">Unidade</option>
                </select>
              </div>
              <div class="col-md-2" ng-show="ind.agrupamento == 'unidade' ">
                <label for="inputPassword4" class="col-form-label">Filtro UF para Unidades
                </label>
                <select ui-select2 class="js-example-basic-multiple form-control" ng-model="filtrosUFSelecionados" ng-model="filtrosUFSelecionados[]" multiple="multiple" ng-options="f.name group by f.group for f in filtros_uf" ng-change="get_agrupamento(ind.agrupamento)">
                  <option value=""></option>
                </select>
              </div>
              <div class="col-md-2" ng-show="filtros.length>0">
                <label for="inputPassword4" class="col-form-label">Filtro
                </label>
                <select ui-select2 class="js-example-basic-multiple form-control" ng-model="filtrosSelecionados" ng-model="filtrosSelecionados[]" multiple="multiple" data-placeholder="Todos" ng-options="f.name group by f.group for f in filtros">
                  <option value=""></option>
                </select>
              </div>
              <div ng-show="form.agrupamento.$invalid" class="form-control-feedback">Preencha este campo</div>
            </div>
            <button class="btn btn-primary" ng-click="get_IPT_agrupado(ind,myForm);get_IPT_acumulado(ind,myForm)">Enviar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Indicadores De Criação de Usuário</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação dos usuários criados em relação ao total das solicitações, constantes em relatório.
          </p>
          <div google-chart chart="char_criacao_de_usuario" style="height:65%;"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Indicadores De Bloqueio de Usuário</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação dos usuários bloqueados em relação ao total das solicitações, constantes em relatório.
          </p>
          <div google-chart chart="char_bloqueio_de_usuario" style="height:65%;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Indicadores De Desbloqueio de Usuário</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação dos usuários desbloqueados em relação ao total das solicitações, constantes em relatório.
          </p>
          <div google-chart chart="char_desbloqueio_de_usuario" style="height:65%;"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Indicadores De Reinicialização de Usuário</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação dos usuários reinicializados em relação ao total das solicitações, constantes em relatório.
          </p>
          <div google-chart chart="char_reinicializacao" style="height:65%;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Indicadores De Alteração de Permissão de Usuário</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação das alterações de permissão em relação ao total das solicitações, constantes em relatório.
          </p>
          <div google-chart chart="char_alteracao_de_permissao" style="height:65%;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Índice de produção total (IPT) acumulado</b></h4>
          <div google-chart chart="myChartObjectPie" style="height:65%"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'view/content/footer.html'"></div>
