<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu" ng-if="vm.verificarPermissao('/indicadores-contestacao')">
            <a href="#/indicadores-contestacao"><i class="md-insert-chart"></i>Indicadores Contestações</a>
          </li>
          <li class="has-submenu" ng-if="vm.verificarPermissao('/lista-contestacao')">
            <a href="#/lista-contestacao"><i class="md-search"></i>Contestações Cadastrados</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title">Contestações</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
      <div class="card-deck">
        <div class="card text-white bg-primary mb-3" ng-repeat="card in vm.cards">
          <div class="card-body">
            <h5 class="card-title">{{card.titulo}}</h5>
            <p class="card-text">{{card.texto}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12 col-xl-3" style="margin-left: -11px;">
        <div class="card-box widget-box-1 bg-white">
          <i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Last 24 Hours"></i>
          <h4 class="text-dark font-18">Contestações 24 horas sem retorno</h4>
          <h2 class="text-danger text-center" <span data-plugin="counterup">{{vm.total_atrasados}}</span></h2>
          <p class="text-muted">Total Contestações: {{vm.total_contestacoes}} <span class="pull-right"><i class="fa fa-exclamation text-warning m-r-5"></i>{{vm.percContestacao()}}%</span></p>
        </div>
      </div>

    </div>
  </div>
</div>
<div ng-include="'view/content/footer.html'"></div>
