<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">

        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu">
            <a href="#/lista-contestacao"><i class="md-search"></i>Contestações Cadastrados</a>
          </li>
          <li class="has-submenu">
            <a href="#/novo-contestacao"><i class="md-add-box"></i>Novo</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">

          <h4 class="page-title">Indicadores Contestação</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->

    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Filtro de Indicadores</h4>
          <div class="form-row">

            <div class="form-group col-md-2" ng-class="{ 'has-error': form.data_inicial.$invalid }">
              <label for="inputEmail4" class="col-form-label">Data Inicial</label>
              <input type="date" class="form-control" name="data_inicial" ng-model="ind.data_inicial" ng-required="true">
              <div ng-show="form.data_inicial.$invalid" class="help-block">Preencha este campo</div>
            </div>
            <div class="form-group col-md-2" ng-class="{ 'has-error': form.data_final.$invalid }">
              <label for="inputPassword4" class="col-form-label">Data Final</label>
              <input type="date" class="form-control" name="data_final" ng-model="ind.data_final" ng-required="true">
              <div ng-show="form.data_final.$invalid" class="help-block">Preencha este campo</div>
            </div>
            <div class="form-group col-md-2" ng-class="{ 'has-error': form.agrupamento.$invalid }">
              <label for="inputAddress" class="col-form-label">Banco</label>
              <select ui-select2 class="js-example-basic-multiple js-states form-control" ng-model="ind.banco" ng-model="bancos_selecionados[]" multiple="multiple" data-placeholder="Selecione" name="banco" ng-options="b.devname as b.devname for b in vm.bancos">
              </select>
              <div ng-show="form.agrupamento.$invalid" class="help-block">Selecione um agrupamento</div>
            </div>
            <div class="form-group col-md-2" ng-class="{ 'has-error': form.agrupamento.$invalid }">
              <label for="inputAddress" class="col-form-label">UF</label>
              <select ui-select2 class="js-example-basic-multiple js-states form-control" ng-model="ind.uf" ng-model="uf_selecionadas[]" multiple="multiple" data-placeholder="Selecione" name="unidade" ng-options="u.filial as u.filial for u in vm.ufs">
              </select>
              <div ng-show="form.agrupamento.$invalid" class="help-block">Selecione um agrupamento</div>
            </div>
            <!-- <div class="form-group col-md-2" ng-show="ind.uf != 'TODOS' && ind.uf != ''">
              <label for="inputAddress" class="col-form-label">Unidade</label>
              <select ui-select2 class="js-example-basic-multiple js-states form-control" ng-model="ind.banco" ng-model="bancos_selecionados[]" multiple="multiple" data-placeholder="Selecione" name="banco" ng-options="b.devname as b.devname for b in vm.bancos">
              </select>
              <div ng-show="form.agrupamento.$invalid" class="help-block">Selecione um agrupamento</div>
            </div> -->
          </div>
          <button type="submit" class="btn btn-primary" ng-click="vm.indicadores(ind, myForm)">Enviar</button>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <div class="row">
            <div class="col-md-11">
              <h4 class="m-t-0 header-title"><b>Índice de Contestação Documental/Contestação/Ambos agrupados por UF</b></h4>
              <p class="text-muted m-b-30 font-13">
                Evidencia a participação das contestações do tipo <b>{{tipo.name}}</b> nas três situações <b>(CONCLUÍDO, AGUARDANDO RETORNO, CONCLUÍDO SEM RETORNO)</b> agrupados por <b>UF</b>.
              </p>
            </div>
            <div class="col-md-1 pull-right" ng-show="vm.dados_chart_uf.length > 0">
              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio1" name="customRadio" value="Ambos" ng-model="tipo.name" class="custom-control-input" checked ng-change="vm.changeChart(tipo.name)">
                <label class="custom-control-label" for="customRadio1">Ambos</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio2" name="customRadio" value="Documental" ng-model="tipo.name" class="custom-control-input" ng-change="vm.changeChart(tipo.name)">
                <label class="custom-control-label" for="customRadio2">Documental</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio3" name="customRadio" value="Contestacao" ng-model="tipo.name" class="custom-control-input" ng-change="vm.changeChart(tipo.name)">
                <label class="custom-control-label" for="customRadio3">Contestação</label>
              </div>
            </div>
          </div>
          <div google-chart chart="vm.myChartUF" style="height:65%;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Índice de Contestação Banco (Documental e Contestação)</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação das contestações nas três situações <b>(CONCLUÍDO, AGUARDANDO RETORNO, CONCLUÍDO SEM RETORNO)</b> agrupados por <b>BANCO</b>
          </p>
          <div google-chart chart="vm.chart_bancos" style="height:65%"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Índice de Contestação Banco (Procedente e Improcedente)</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação das contestações agrupados por laudo nas duas situações <b>(PROCEDENTE, IMPROCEDENTE)</b> agrupados por <b>BANCO</b>
          </p>
          <div google-chart chart="vm.chart_laudo" style="height:65%"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Índice de Laudo agrupado por Banco</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação de todos os Laudos agrupadas por <b>BANCO</b>.
          </p>
          <div google-chart chart="vm.myChartObjectPieLaudo" style="height:65%"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Índice de Contestação Acumulado Banco</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação de todas as contestações cadastradas agrupadas por <b>BANCO</b>.
          </p>
          <div google-chart chart="vm.myChartObjectPie" style="height:65%"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Índice de Contestação Situação x Laudo</b></h4>
          <!-- <p class="text-muted m-b-30 font-13">
            Evidencia a participação de todas as contestações cadastradas agrupadas por <b>BANCO</b>.
          </p> -->
          <div google-chart chart="vm.situacao_x_laudo" style="height:65%"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Índices de Contestação Agrupados</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação de todas as contestações cadastradas agrupadas por <b>SITUAÇÃO</b> e <b>TIPO</b>.
          </p>
          <div class="col-md-12">

            <p class="font-600">Contestação <span class="text-primary pull-right">{{vm.total_contestacao}}%</span></p>
            <div class="progress m-b-30">
              <div class="progress-bar progress-bar-primary progress-animated wow animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.total_contestacao}}%">
              </div>
              <!-- /.progress-bar .progress-bar-danger -->
            </div>
            <!-- /.progress .no-rounded -->

            <p class="font-600">Documental <span class="text-pink pull-right">{{vm.total_documental}}%</span></p>
            <div class="progress m-b-30">
              <div class="progress-bar progress-bar-pink progress-animated wow animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.total_documental}}%">
              </div>
              <!-- /.progress-bar .progress-bar-pink -->
            </div>
            <!-- /.progress .no-rounded -->

            <p class="font-600">Concluídos<span class="text-success pull-right">{{vm.total_concluido}}%</span></p>
            <div class="progress m-b-30">
              <div class="progress-bar progress-bar-success progress-animated wow animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.total_concluido}}%">
              </div>
              <!-- /.progress-bar .progress-bar-info -->
            </div>
            <!-- /.progress .no-rounded -->

            <p class="font-600">Aguardando Retorno<span class="text-warning pull-right">{{vm.total_aguardando_retorno}}%</span></p>
            <div class="progress m-b-30">
              <div class="progress-bar progress-bar-warning progress-animated wow animated" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.total_aguardando_retorno}}%">
              </div>
              <!-- /.progress-bar .progress-bar-warning -->
            </div>
            <!-- /.progress .no-rounded -->

            <p class="font-600">Concluído sem Retorno <span class="text-danger pull-right">{{vm.total_concluido_sem_retorno}}%</span></p>
            <div class="progress m-b-30">
              <div class="progress-bar progress-bar-danger progress-animated wow animated" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.total_concluido_sem_retorno}}%">
              </div>
              <!-- /.progress-bar .progress-bar-success -->
            </div>
            <!-- /.progress .no-rounded -->

          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="diff_contratos.length">
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Contratos Harpia que não se encontram no work</h4>

          <table class="table table-striped add-edit-table dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
            <thead>
              <tr>
                <th>#</th>
                <th>Numer</th>
                <th>CPF</th>
                <th>Banco</th>
                <th>UF</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="c in diff_contratos">
                <td>{{$index+1}}</td>
                <td>{{c.number}}</td>
                <td>{{c.client_cpf}}</td>
                <td>{{c.devname_bank}}</td>
                <td>{{c.uf}}</td>
                <td><i class="fa fa-check"></i></td>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>

</div>
<div ng-include="'view/content/footer.html'"></div>
