<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <ul class="navigation-menu">
          <li class="has-submenu" >
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu" ng-if="vm.verificarPermissao('/indicadores-contestacao')">
            <a href="#/indicadores-contestacao"><i class="md-insert-chart"></i>Indicadores Contestações</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title">Contestação 1</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="m-t-0 m-b-30 header-title">Pesquisa Contestação</h4>
          <form role="form" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-2 col-form-label">Período</label>
                  <div class="col-3">
                    <input type="date" class="form-control form-control-sm" ng-model="vm.filtros.data_inicial">
                  </div>
                  <div class="col-3">
                    <input type="date" class="form-control form-control-sm" ng-model="vm.filtros.data_final">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-2 col-form-label">Número Contrato</label>
                  <div class="col-3">
                    <input type="text" class="form-control form-control-sm" ng-model="vm.filtros.numero_contrato" placeholder="Número do Contrato">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-2 col-form-label">CPF Cliente</label>
                  <div class="col-3">
                    <input type="text" class="form-control form-control-sm" ng-model="vm.filtros.cpf" placeholder="CPF" ui-cpf>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-2 col-form-label">Situação</label>
                  <div class="col-3">
                    <select type="text" class="form-control form-control-sm" ng-model="vm.filtros.situacao" ng-required="true">
                      <option value="">Todos</option>
                      <option value="0">Aguardando Retorno</option>
                      <option value="1">Enviado Defesa</option>
                      <option value="2">Não Enviado Defesa</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="produto" class="col-2 col-form-label">Produto</label>
                    <div class="col-3">
                      <select type="text" class="form-control form-control-sm" 
                          ng-model="vm.filtros.produto_id" 
                          ng-options="p.id as p.nome for p in vm.produtos">
                        <option value="">Todos</option>
                      </select>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="inputPassword3" class="col-1 col-form-label">Banco</label>
                  <div class="col-3">
                    <select type="text" class="form-control form-control-sm" name="uf" ng-model="vm.filtros.banco" ng-options="b.devname as b.devname for b in vm.bancos">
                      <option value="">Selecione</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Tipo" class="col-1 col-form-label">Tipo</label>
                  <div class="col-3">
                    <select type="text" class="form-control form-control-sm" name="tipo" ng-model="vm.filtros.tipo" >
                      <option value="">Todos</option>
                      <option value="Documental">Documental</option>
                      <option value="Contestacao">Contestação</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Laudo" class="col-1 col-form-label">Laudo</label>
                  <div class="col-3">
                    <select type="text" class="form-control form-control-sm" name="tipo" ng-model="vm.filtros.laudo" >
                      <option value="">Todos</option>
                      <option value="Procedente">Procedente</option>
                      <option value="Improcedente">Improcedente</option>
                      <option value="Aguard Laudo Banco">Aguard Laudo Banco</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="UF" class="col-1 col-form-label">UF</label>
                    <div class="col-3">
                      <select type="text" class="form-control form-control-sm" ng-model="vm.filtros.uf" 
                        ng-change="vm.getUnidades(vm.filtros.uf)"
                        ng-options="u.filial as u.filial for u in vm.ufs">
                        <option value="">Selecione</option>
                      </select>
                    </div>
                </div>
                <div class="form-group row" ng-if="vm.unidades.length > 0">
                    <label for="Unidade" class="col-1 col-form-label">Unidade</label>
                    <div class="col-3">
                      <select type="text" class="form-control form-control-sm" ng-model="vm.filtros.unidade" 
                        ng-options="u.nome as u.nome for u in vm.unidades">
                        <option value="">Selecione</option>
                      </select>
                    </div>
                </div>   
              </div>
            </div>
            <div class="form-group mb-0 row">
              <div class="col-3">
                <button type="submit" class="btn btn-primary" ng-click="vm.pesquisar()">Pesquisar</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card-box">
          <div class="row">
            <div class="col-auto mr-auto">
              <h4 class="m-t-0 header-title">Lista de Contestações</h4>
            </div>
            <div class="col-auto">
              <div class="button-list">
                  <button type="button" class="btn btn-primary" ng-click="vm.open_cadastrar()" ng-if="vm.verificarPermissao('/cadastro_contestacao')">Adicionar <i class="fa fa-plus"></i></button>
                  <button type="button" class="btn btn-success" ng-click="vm.gerar_excel()" ng-show="vm.contestacoes_cadastradas.length >0">Excel <i class="fas fa-file-csv"></i></button>
              </div>
            </div>
          </div>
          <div ng-show="vm.error" class="row justify-content-md-center" style="text-align: center;">
            <div class="col-md-3">
              <div class="alert alert-warning" role="alert">
                <strong>{{vm.error_msg}}</strong>
              </div>
            </div>
          </div>
          <div ng-show="vm.success" class="row justify-content-md-center" style="text-align: center;">
            <div class="col-md-3">
              <div class="alert alert-success" role="alert">
                <strong>{{vm.msg_success}}</strong>
              </div>
            </div>
          </div>
          <div ng-show="vm.contestacoes_cadastradas.length >0">

            <div class="row justify-content-between">
              <form class="form-inline">
                <div class="form-group" style="margin-left: 12px;">
                  <span>Mostrar</span>
                  <select class="custom-select mr-sm-2" style="margin-left: 10px;" name="num_registros" ng-model="vm.num_registro_atual" ng-change="vm.pesquisar(vm.paginacao.pagina_atual,vm.num_registro_atual)" ng-options="v.valor as v.valor for v in vm.num_registros">
                  </select>
                  <span>Registros</span>
                </div>
              </form>
                <div class="form-group col-md-2" style="margin-top: 10px;">
                  <input type="search" class="form-control" name="name" placeholder="Pesquisar" ng-model="Filtro" required>
                </div>
            </div>
            <table class="table table-striped add-edit-table dataTable no-footer table-responsive" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info" style="min-height: 500px;">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Cliente</th>
                  <th>CPF</th>
                  <th>Contrato</th>
                  <th>Banco</th>
                  <th>Unidade</th>
                  <th>UF</th>
                  <th>Data Abertura</th>
                  <th>Valor</th>
                  <th>Agente</th>
                  <th>Tipo Contestação</th>
                  <th>Laudo</th>
                  <th>Situação</th>
                  <th>Situação Reabertura</th>
                  <th>Dias em Atraso</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="c in vm.contestacoes_cadastradas | orderBy:sortType2:sortReverse2 | filter: Filtro">
                  <td>{{$index+1}}</td>
                  <td>{{c.cliente}}</td>
                  <td>{{c.cpf}}</td>
                  <td>{{c.numero_contrato}}</td>
                  <td>{{c.banco}}</td>
                  <td>{{c.unidade}}</td>
                  <td>{{c.uf}}</td>
                  <td>{{c.date}}</td>
                  <td>{{c.valor_contrato | currency}}</td>
                  <td>{{c.agente}}</td>
                  <td>{{c.tipo}}</td>
                  <td>
                    <span ng-class="{'badge badge-success' : c.laudo == 'Improcedente', 'badge badge-danger': c.laudo == 'Procedente', 'badge badge-warning': c.laudo == 'Aguard Laudo Banco'}">{{c.laudo}}</span>
                  </td>
                  <td>
                    <span ng-show="c.situacao == 0" class="badge badge-warning">Aguardando Retorno</span>
                    <span ng-show="c.situacao == 1" class="badge badge-success">Enviado Defesa</span>
                    <span ng-show="c.situacao == 2" class="badge badge-danger">Não Enviado Defesa </span>
                  </td>
                  <td>{{c.situacao_reabertura}}</td>
                  <td><span ng-show="c.situacao == 0 || c.situacao == 2">{{c.dias}}</span></td>
                  <td class="actions">
                    <div class="dropdown">
                      <button class="btn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bars" aria-hidden="true"></i>
                      </button>
                      <div class="dropdown-menu menu-list" style="min-width: 4.5em;" aria-labelledby="dropdownMenuButton">
                      <div class="dropdown-content has-text-centered" style="min-width: 4.5em; max-height: 20em;">
                          <li>
                              <a ng-if="vm.verificarPermissao('/editar_contestacao')" class="dropdown-item" href ng-click="vm.open_cadastrar(c)">Editar</a>
                          </li>
                          <li>
                              <a ng-if="vm.verificarPermissao('/mudar_situacao')" class="dropdown-item" href ng-click="vm.open(c)">Mudar Situação</a>
                          </li>
                          <li>
                              <a ng-if="vm.verificarPermissao('/situacao_reabertura')" class="dropdown-item" href ng-click="vm.openReabertura(c)">Situação Reabertura</a>
                          </li>
                          <li>
                              <a ng-if="vm.verificarPermissao('/enviar_email')" class="dropdown-item" href ng-click="vm.openEmail(c)">Enviar E-mail</a>
                          </li>
                          <li>
                              <a ng-if="vm.verificarPermissao('/excluir_contestacao')" class="dropdown-item" href ng-click="vm.excluir(c)">Excluir</a>
                          </li>
                          <li >
                              <a ng-if="vm.verificarPermissao('/laudo')" class="dropdown-item" href ng-click="vm.laudo(c)">Laudo</a>
                          </li>
                      </div>
                  </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          <div class="row justify-content-between">
            <div class="col-auto mr-auto">
            Mostrando {{vm.num_registro_atual}} de {{vm.paginacao.total_registros}} Registros
            </div>
            <div class="col-auto">
              <paging class="center-align" page="vm.paginacao.pagina_atual"
              page-size="vm.paginacao.registros_por_pagina" total="vm.paginacao.total_registros"
              paging-action="vm.pesquisar(page, vm.num_registro_atual)" show-prev-next="true" ></paging>
            </div>
          </div>

        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'view/content/footer.html'"></div>


