<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{vm.titulo}} Contestação</h3>
</div>
<div class="modal-body" id="modal-body">
  <form name="myForm" novalidate>
    <div ng-show="vm.error_form" class="row justify-content-md-center" style="text-align: center;">
      <div class="col-md-3">
        <div class="alert alert-warning" role="alert">
          <strong>{{vm.error_msg}}</strong>
        </div>
      </div>
    </div>
    <div ng-show="vm.success_form" class="row justify-content-md-center" style="text-align: center;">
      <div class="col-md-3">
        <div class="alert alert-success" role="alert">
          <strong>{{vm.success_msg}}</strong>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-7" ng-class="{ 'has-error': vm.form.cliente.$invalid }">
        <label class="col-form-label">Cliente</label>
        <input type="text" class="form-control" name="cliente" placeholder="Cliente" ng-model="dados.cliente" ng-required="true">
        <div ng-show="vm.form.cliente.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-3" ng-class="{ 'has-error': vm.form.cpf.$invalid }">
        <label class="col-form-label">CPF</label>
        <input type="text" class="form-control" name="cpf" placeholder="CPF" ng-model="dados.cpf" ng-required="true" ui-cpf>
        <div ng-show="vm.form.cpf.$invalid" class="help-block">Preencha este campo</div>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4" ng-class="{ 'has-error': vm.form.banco.$invalid }">
          <label class="col-form-label">Banco</label>
          <select type="text" class="form-control" name="banco" ng-model="dados.banco" ng-options="b.devname as b.devname for b in vm.bancos" ng-required="true">
            <option value="">Selecione</option>
          </select>
          <div ng-show="vm.form.banco.$invalid" class="help-block">Preencha este campo</div>
        </div>
        <div class="form-group col-md-3" ng-class="{ 'has-error': vm.form.numero_contrato.$invalid }">
          <label class="col-form-label">Número Contrato</label>
          <input type="text" class="form-control" placeholder="Número do contrato" name="numero_contrato" ng-model="dados.numero_contrato" ng-required="true">
          <div ng-show="vm.form.numero_contrato.$invalid" class="help-block">Preencha este campo</div>
        </div>
        <div class="form-group col-md-3" ng-class="{ 'has-error': vm.form.valor_contrato.$invalid }">
          <label class="col-form-label">Valor Contrato</label>
          <input type="text" class="form-control" placeholder="Valor Contrato" name="valor_contrato" ng-model="dados.valor_contrato" ng-required="true" ui-money-mask="2">
          <div ng-show="vm.form.valor_contrato.$invalid" class="help-block">Preencha este campo</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2" ng-class="{ 'has-error': vm.form.uf.$invalid }">
            <label class="col-form-label">UF</label>
            <select type="text" class="form-control" name="uf" ng-model="uf" 
                ng-options="u.filial as u.filial for u in vm.ufs" 
                ng-change="vm.getUnidades(uf)"  ng-required="true">
              <option value="">Selecione</option>
            </select>
            <div ng-show="vm.form.uf.$invalid" class="help-block">Preencha este campo</div>
        </div>
        <div class="form-group col-md-4" ng-class="{ 'has-error': vm.form.unidade.$invalid }" ng-if="vm.unidades.length > 0">
          <label class="col-form-label">Unidade</label>
          <select type="text" class="form-control" name="unidade" ng-model="dados.unidade" 
              ng-required="true" 
              ng-options="u.nome as u.nome for u in vm.unidades">
            <option value="">Selecione</option>
          </select>

        </select>
          <div ng-show="vm.form.unidade.$invalid" class="help-block">Preencha este campo</div>
        </div>
        <div class="form-group col-md-2" ng-class="{ 'has-error': vm.form.agente.$invalid }">
          <label class="col-form-label">Agente</label>
          <select type="text" class="form-control" name="agente" ng-model="dados.agente" ng-required="true">
            <option value="">Selecione</option>
            <option value="corretor">Corretor</option>
            <option value="balcao">Balcão</option>
          </select>
          <div ng-show="vm.form.agente.$invalid" class="help-block">Preencha este campo</div>
        </div>
        <div class="form-group col-md-3">
          <label class="col-form-label">Nome Agente</label>
          <input type="text" class="form-control" name="nome_agente" ng-model="dados.nome_agente">
        </div>
        <div class="form-group col-md-3" ng-class="{ 'has-error': vm.form.tipo.$invalid }">
          <label class="col-form-label">Laudo</label>
          <select type="text" class="form-control" name="laudo" ng-model="dados.laudo" ng-required="true">
            <option value="">Todos</option>
              <option value="Procedente">Procedente</option>
              <option value="Improcedente">Improcedente</option>
              <option value="Aguard Laudo Banco">Aguard Laudo Banco</option>
          </select>
          <div ng-show="vm.form.tipo.$invalid" class="help-block">Preencha este campo</div>
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3" ng-class="{ 'has-error': vm.form.tipo.$invalid }">
        <label class="col-form-label">Tipo Contestação</label>
        <select type="text" class="form-control" name="tipo" ng-model="dados.tipo" ng-required="true">
          <option value="">Selecione</option>
          <option value="Documental">Documental</option>
          <option value="Contestacao">Contestação</option>
        </select>
        <div ng-show="vm.form.tipo.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-3" ng-class="{ 'has-error': vm.form.tipo.$invalid }">
        <label class="col-form-label">Produto</label>
        <select type="text" class="form-control" name="tipo" ng-model="dados.produto_id" ng-required="true" ng-options="p.id as p.nome for p in vm.produtos">
          <option value="">Selecione</option>
        </select>
        <div ng-show="vm.form.tipo.$invalid" class="help-block">Preencha este campo</div>
      </div>
      <div class="form-group col-md-4 ">
        <label class="col-form-label">E-mail</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="email" placeholder="E-mail" ng-model="email">
          <div class="input-group-append">
            <button class="btn btn-primary btn-outline-secondary" ng-click="vm.add_email(email)">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="col-form-label">Observação</label>
        <textarea rows="4" cols="80" class="form-control" name="observacao" placeholder="Digite uma Observação com até 800 carcteres" maxlength="800" ng-model="dados.observacao">
        </textarea>
      </div>
      <div class="form-group col-md-3">
        <label class="col-form-label">Lista de E-mails</label>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="e in vm.lista_emails">{{e.email}}
            <span class="badge badge-danger badge-pill" style="cursor: pointer;" ng-click="vm.remove_email($index)">X</span>
          </li>
        </ul>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.cadastrar(dados,myForm)" ng-hide="vm.detalhes">Salvar</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
