<header id="topnav">
<div ng-include="'view/content/topbar.php'"></div>

  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">

        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
        <li class="has-submenu" ng-if="vm.verificarPermissao('/indicadores-harpia')">
          <a href="#/indicadores-harpia"><i class="md-insert-chart"></i>Indicadores Harpia</a>
        </li>
        <li class="has-submenu" ng-if="vm.verificarPermissao('/indicadores-harpiaxwork')">
          <a href="#/indicadores-harpiaxwork"><i class="md-insert-chart"></i>Indicadores Harpia x Work</a>
        </li>
        </ul>

      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">

          <h4 class="page-title">Análise Documental</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
      <div class="card-deck">
        <div class="card text-white bg-primary mb-3" ng-repeat="card in vm.cards">
          <div class="card-body">
            <h5 class="card-title">{{card.titulo}}</h5>
            <p class="card-text">{{card.texto}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div ng-include="'view/content/footer.html'"></div>
