<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>

  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">

        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu">
            <a href="#/indicadores-harpia"><i class="md-insert-chart"></i>Indicadores Harpia</a>
          </li>
          <li class="has-submenu">
            <a href="#/analise-documental"><i class="md-reply"></i>Voltar</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">

          <h4 class="page-title">Indicadores Harpia x Work</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->

    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Filtro de Indicadores</h4>
          <ui-atualizacao></ui-atualizacao>
          <form name="myForm" novalidate>
            <div class="form-row">
              <div class="form-group col-md-2" ng-class="{ 'has-error': form.data_inicial.$invalid }">
                <label for="inputEmail4" class="col-form-label">Data Inicial</label>
                <input type="date" class="form-control" name="data_inicial" ng-model="ind.data_inicial" ng-required="true">
                <div ng-show="form.data_inicial.$invalid" class="help-block">Preencha este campo</div>
              </div>
              <div class="form-group col-md-2" ng-class="{ 'has-error': form.data_final.$invalid }">
                <label for="inputPassword4" class="col-form-label">Data Final</label>
                <input type="date" class="form-control" name="data_final" ng-model="ind.data_final" ng-required="true">
                <div ng-show="form.data_final.$invalid" class="help-block">Preencha este campo</div>
              </div>
              <div class="form-group col-md-2" ng-class="{ 'has-error': form.agrupamento.$invalid }">
                <label for="inputAddress" class="col-form-label">UF</label>
                <select ui-select2 class="js-example-basic-multiple js-states form-control" ng-model="ind.uf" ng-model="uf_selecionadas[]" multiple="multiple" data-placeholder="Selecione" name="unidade" ng-options="u.filial as u.filial for u in vm.ufs">
                </select>
                <div ng-show="form.agrupamento.$invalid" class="help-block">Selecione um agrupamento</div>
              </div>
              <div class="form-group col-md-2" ng-class="{ 'has-error': form.agrupamento.$invalid }">
                <label for="inputAddress" class="col-form-label">Banco</label>
                <select ui-select2 class="js-example-basic-multiple js-states form-control" ng-model="ind.devname_banco" ng-model="bancos_selecionados[]" multiple="multiple" data-placeholder="Selecione" name="banco" ng-options="b.devname as b.devname for b in vm.bancos">
                </select>
                <div ng-show="form.agrupamento.$invalid" class="help-block">Selecione um agrupamento</div>
              </div>
            </div>
            <button class="btn btn-primary" ng-click="vm.indicadores(ind,myForm)">Enviar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Índice de Produção Total Agrupado</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação dos contratos analisados pela harpia nos três status <b>(APROVADO, RECUSADO, PENDENTE)</b> em relação ao número de contratos registrados no work agrupados por <b>UF.</b>
          </p>
          <div google-chart chart="vm.chart_uf" style="height:65%;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Índice de Produção Total Agrupado</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação dos contratos analisados pela harpia nos três status <b>(APROVADO, RECUSADO, PENDENTE)</b> em relação ao número de contratos registrados no work agrupados por <b>BANCO.</b>
          </p>
          <div google-chart chart="vm.chart_banco" style="height:65%;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Índice de Produção Total Acumulado</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação de todos contratos analisados pela harpia em relação ao número de contratos registrados no work.
          </p>
          <div class="row">
            <div google-chart chart="vm.chart_acumulado" style="height:65%; width:80%;"></div>
            <div style="width: 20%;">
              <ul class="list-inline m-t-15 mb-0">
                <li>
                  <h5 class="text-muted m-t-20 font-16">Work</h5>
                  <h4 class="m-b-0">{{vm.total_work}}</h4>
                </li>
                <li>
                  <h5 class="text-muted m-t-20 font-16">Harpia</h5>
                  <h4 class="m-b-0">{{vm.total_harpia}}</h4>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title"><b>ÍNDICES DE PRODUCÃO ACUMULADOS POR STATUS</b></h4>
            <p class="text-muted m-b-30 font-13">
              Evidencia a participação dos contratos analisados pela harpia nos três "status" (APROVADO, RECUSADO E PENDENTE) em relação ao número de contratos registrados no work.
            </p>
            <div class="col-md-12">
              <p class="font-600">Aprovado <span class="text-success pull-right">{{vm.total_aprovados}}%</span></p>
              <div class="progress m-b-30">
                <div class="progress-bar progress-bar-success progress-animated wow animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.total_aprovados}}%">
                </div>
                <!-- /.progress-bar .progress-bar-danger -->
              </div>
              <!-- /.progress .no-rounded -->

              <p class="font-600">Pendente <span class="text-warning pull-right">{{vm.total_pendentes}}%</span></p>
              <div class="progress m-b-30">
                <div class="progress-bar progress-bar-warning progress-animated wow animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.total_pendentes}}%">
                </div>
                <!-- /.progress-bar .progress-bar-pink -->
              </div>
              <!-- /.progress .no-rounded -->

              <p class="font-600">Recusado<span class="text-danger pull-right">{{vm.total_recusados}}%</span></p>
              <div class="progress m-b-30">
                <div class="progress-bar progress-bar-danger progress-animated wow animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.total_recusados}}%">
                </div>
                <!-- /.progress-bar .progress-bar-info -->
              </div>
              <!-- /.progress .no-rounded -->
            </div>
          </div>
        </div>
      </div>
    </div>
<!--
    <div class="row" ng-if="diff_contratos.length">
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Contratos Harpia que não se encontram no work</h4>

          <table class="table table-striped add-edit-table dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
            <thead>
              <tr>
                <th>#</th>
                <th>Numer</th>
                <th>CPF</th>
                <th>Banco</th>
                <th>UF</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="c in diff_contratos">
                <td>{{$index+1}}</td>
                <td>{{c.number}}</td>
                <td>{{c.client_cpf}}</td>
                <td>{{c.devname_bank}}</td>
                <td>{{c.uf}}</td>
                <td><i class="fa fa-check"></i></td>
            </tbody>
          </table>
        </div>

      </div>

    </div> -->
  </div>

</div>
<div ng-include="'view/content/footer.html'"></div>
