<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>

  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">

        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu">
            <a href="#/indicadores-harpiaxwork"><i class="md-insert-chart"></i>Indicadores Harpia x Work</a>
          </li>
          <li class="has-submenu">
            <a href="#/analise-documental"><i class="md-reply"></i>Voltar</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</header>

<div class="wrapper">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">

          <h4 class="page-title">Indicadores Harpia</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->

    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Filtro de Indicadores</h4>
          <ui-atualizacao></ui-atualizacao>
          <form name="myForm" novalidate>
            <div class="form-row">
              <div class="form-group col-md-2" ng-class="{ 'has-error': form.data_inicial.$invalid }">
                <label for="inputEmail4" class="col-form-label">Data Inicial</label>
                <input type="date" class="form-control" name="data_inicial" ng-model="ind.data_inicial" ng-required="true">
                <div ng-show="form.data_inicial.$invalid" class="help-block">Preencha este campo</div>
              </div>
              <div class="form-group col-md-2" ng-class="{ 'has-error': form.data_final.$invalid }">
                <label for="inputPassword4" class="col-form-label">Data Final</label>
                <input type="date" class="form-control" name="data_final" ng-model="ind.data_final" ng-required="true">
                <div ng-show="form.data_final.$invalid" class="help-block">Preencha este campo</div>
              </div>
              <div class="form-group col-md-2" ng-class="{ 'has-error': form.agrupamento.$invalid }">
                <label for="inputAddress" class="col-form-label">UF</label>
                <select ui-select2 class="js-example-basic-multiple js-states form-control" ng-model="ind.uf" ng-model="uf_selecionadas[]" multiple="multiple" data-placeholder="Selecione" name="unidade" ng-options="u.filial as u.filial for u in vm.ufs">
                </select>
                <div ng-show="form.agrupamento.$invalid" class="help-block">Selecione um agrupamento</div>
              </div>
              <div class="form-group col-md-2" ng-class="{ 'has-error': form.agrupamento.$invalid }">
                <label for="inputAddress" class="col-form-label">Banco</label>
                <select ui-select2 class="js-example-basic-multiple js-states form-control" ng-model="ind.devname_banco" ng-model="bancos_selecionados[]" multiple="multiple" data-placeholder="Selecione" name="banco" ng-options="b.devname as b.devname for b in vm.bancos">
                </select>
                <div ng-show="form.agrupamento.$invalid" class="help-block">Selecione um agrupamento</div>
              </div>
            </div>
            <button class="btn btn-primary" ng-click="vm.indicadores(ind,myForm)">Enviar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Indicador por UF </b></h4>
          <p class="text-muted m-b-30 font-15">
            Evidencia a participação dos contratos nos três status <b>(APROVADO, RECUSADO, PENDENTE)</b> pela harpia, agrupados por <b>UF</b></b>
          </p>
          <div ng-show="agrupados404" class="row justify-content-md-center" style="text-align: center;">
            <div class="col-md-4">
              <div class="alert alert-warning" role="alert">
                <strong>Dados não encontrado!</strong>
              </div>
            </div>
          </div>
          <div google-chart chart="vm.chart_uf" style="height:80%;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Indicador por Banco </b></h4>
          <p class="text-muted m-b-30 font-15">
            Evidencia a participação dos contratos nos três status <b>(APROVADO, RECUSADO, PENDENTE)</b> pela harpia, agrupados por <b>BANCO</b></b>
          </p>
          <div ng-show="agrupados404" class="row justify-content-md-center" style="text-align: center;">
            <div class="col-md-4">
              <div class="alert alert-warning" role="alert">
                <strong>Dados não encontrado!</strong>
              </div>
            </div>
          </div>
          <div google-chart chart="vm.chart_banco" style="height:80%;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Índices de Contratos Agrupados</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia a participação de todos os contratos analisados pela harpia.
          </p>
          <div class="col-md-12">
            <p class="font-600">Aprovado <span class="text-success pull-right">{{vm.total_aprovados}}%</span></p>
            <div class="progress m-b-30">
              <div class="progress-bar progress-bar-success progress-animated wow animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.total_aprovados}}%">
              </div>
              <!-- /.progress-bar .progress-bar-danger -->
            </div>
            <!-- /.progress .no-rounded -->

            <p class="font-600">Pendente <span class="text-warning pull-right">{{vm.total_pendentes}}%</span></p>
            <div class="progress m-b-30">
              <div class="progress-bar progress-bar-warning progress-animated wow animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.total_pendentes}}%">
              </div>
              <!-- /.progress-bar .progress-bar-pink -->
            </div>
            <!-- /.progress .no-rounded -->

            <p class="font-600">Recusado<span class="text-danger pull-right">{{vm.total_recusados}}%</span></p>
            <div class="progress m-b-30">
              <div class="progress-bar progress-bar-danger progress-animated wow animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.total_recusados}}%">
              </div>
              <!-- /.progress-bar .progress-bar-info -->
            </div>
            <!-- /.progress .no-rounded -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'view/content/footer.html'"></div>
