<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu">
            <a href="#/home-monitoramento"><i class="md-reply"></i>Voltar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title">Indicadores Monitoramento</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Filtro de Indicadores</h4>
          <ui-atualizacao></ui-atualizacao>
          <form name="myForm" novalidate>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputEmail4" class="col-form-label">Data Inicial</label>
                <input type="date" class="form-control" name="data_inicial" ng-model="ind.data_inicial" ng-required="true">
                <div ng-show="form.data_inicial.$invalid" class="invalid-feedback">Preencha este campo</div>
              </div>
              <div class="form-group col-md-2">
                <label for="inputPassword4" class="col-form-label">Data Final</label>
                <input type="date" class="form-control" name="data_final" ng-model="ind.data_final" ng-required="true">
                <div ng-show="form.data_final.$invalid" class="form-control-feedback">Preencha este campo</div>
              </div>
              <div class="form-group col-md-2">
                <label for="inputAddress" class="col-form-label">Agrupamento</label>
                <select ui-select2 class="js-example-basic-multiple js-states form-control" ng-model="ind.agrupamento" ng-model="agrupamento[]" multiple="multiple" data-placeholder="Selecione" ng-change="get_agrupamento(ind.agrupamento)">
                  <option value="uf">UF</option>
                  <option value="bank">Banco</option>
                  <!-- <option value="c.company_unit">Unidade</option> -->
                </select>
              </div>
              <div class="col-md-3" ng-show="filtros.length>0">
                <label for="inputPassword4" class="col-form-label">Filtro
                </label>
                <select ui-select2 allow-clear="true" class="js-example-basic-multiple form-control" name="f.selected" ng-model="number" multiple="multiple" data-placeholder="Todos" ng-options="f.name group by f.group for f in filtros">
                </select>
              </div>
              <div ng-show="form.agrupamento.$invalid" class="form-control-feedback">Preencha este campo</div>
            </div>
            <button class="btn btn-primary" ng-click="get_pagamentos_devolvidos(ind,myForm);cardconsig(ind,myForm)">Enviar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Indicadores De Reapresentação Pagamentos Devolvidos</b></h4>
          <p class="text-muted m-b-30 font-15">
            Evidencia a conversão dos <strong>contratos reapresentados</strong> em relação ao montante dos <strong>contratos devolvidos</strong> pelo banco, por inconsistência na conta corrente.
          </p>
          <div google-chart chart="chart_pagamentos_devolvidos" style="height:65%;"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>INDICADOR DE APROVAÇÃO CARDIOCONSIG.</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia o volume de <strong>contratos aprovados</strong> pelo banco em relação ao total dos <strong>contratos sinalizados</strong> pelo cardionconsig.
          </p>
          <div google-chart chart="aprovacao_cardconsig" style="height:65%;"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>INDICADOR DE REPROVAÇÃO CARDIOCONSIG.</b></h4>
          <p class="text-muted m-b-30 font-13">
            Evidencia o volume de <strong>contratos reprovados</strong> pelo banco em relação ao total dos <strong>contratos sinalizados</strong> pelo cardionconsig.
          </p>
          <div google-chart chart="reprovacao_cardconsig" style="height:65%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'view/content/footer.html'"></div>