<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu">
            <a href="#/indicadores-contestacao" ng-click="vm.voltar()"><i class="md-reply"></i>Voltar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title">Configuração</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">

      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Cards Primário</h4>
          <table class="table table-striped add-edit-table dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
            <thead>
              <tr>
                <th>#</th>
                <th>Título</th>
                <th>Texto</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="c in vm.cards_primario | orderBy:sortType2:sortReverse2 | filter: Filtro">
                <td>{{$index+1}}</td>
                <td>{{c.titulo}}</td>
                <td>{{c.texto}}</td>
                <td class="actions">
                  <a href ng-click="vm.open(c)" class="on-default primary-row" data-toggle="tooltip" data-placement="top" title="Situação" data-original-title="Situação"><i class="fa fa-pencil"></i></a>
                  <a href ng-click="vm.excluir(c)" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="E-mail" data-original-title="E-mail"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="m-t-0 header-title">Cards Secudários</h4>
        <div>
          <div ng-show="vm.success" class="row justify-content-md-center" style="text-align: center;">
            <div class="col-md-3">
              <div class="alert alert-success" role="alert">
                <strong>{{vm.msg}}</strong>
              </div>
            </div>
          </div>
          <div class="form-group pull-right">
            <button class="btn btn-primary" ng-click="vm.open()">Adicionar</button>
          </div>
          <table class="table table-striped add-edit-table dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
            <thead>
              <tr>
                <th>#</th>
                <th>Título</th>
                <th>Texto</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="c in vm.cards | orderBy:sortType2:sortReverse2 | filter: Filtro">
                <td>{{$index+1}}</td>
                <td>{{c.titulo}}</td>
                <td>{{c.texto}}</td>
                <td class="actions">
                  <a href ng-click="vm.open(c)" class="on-default primary-row" data-toggle="tooltip" data-placement="top" title="Situação" data-original-title="Situação"><i class="fa fa-pencil"></i></a>
                  <a href ng-click="vm.excluir(c)" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="E-mail" data-original-title="E-mail"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>


</div>
</div>
<div ng-include="'view/content/footer.html'"></div>
