<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>

  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">

        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu">
            <a href="#/fontes"><i class="md-format-color-text"></i>Fontes</a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">

          <h4 class="page-title">Fontes</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Editar Fontes</h4>
          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="col-form-label">Nome</label>
                <input type="text" ng-model="datasources.name" class="form-control" placeholder="Nome">
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label">Delimitador</label>
                <input type="tex" ng-model="datasources.import_file_data_delimiter" class="form-control" placeholder="Delimitador">
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label">Número de Linhas Cabeçalho</label>
                <input type="number" ng-model="datasources.header_lines" class="form-control" placeholder="Número cabeçalho">
              </div>
            </div>
            <h4 class="m-t-0 header-title">Colunas do arquivo de entrada</h4>
              <div ng-show="vm.fonte_id == 4">
                <div ng-include="'view/diretiva/FonteWorkBank.html'"></div>
              </div>
              <div ng-show="vm.fonte_id == 3">
                <div ng-include="'view/diretiva/FonteHarpia.html'"></div>
              </div>
              <div ng-show="vm.fonte_id == 6">
                <div ng-include="'view/diretiva/FontePendenciaWork.html'"></div>
              </div>
              <div ng-show="vm.fonte_id == 22">
                <div ng-include="'view/diretiva/FontePendencia.html'"></div>
              </div>
              <div ng-show="vm.fonte_id == 23">
                <div ng-include="'view/diretiva/FontePortabilidade.html'"></div>
              </div>
            <button type="submit" class="btn btn-success" ng-click="vm.atualizar(attribute, datasources)">Atualizar</button>
            <button type="submit" class="btn btn-warning">Voltar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'view/content/footer.html'"></div>
