<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>

  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">

        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">

          <h4 class="page-title">Fonte</h4>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Fonte de Dados</h4>
          <div class="form-group col-md-2 pull-right">
            <input type="search" class="form-control" name="name" placeholder="Pesquisar" ng-model="Filtro" required>
          </div>
          <table class="table table-striped add-edit-table dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="f in vm.fontes | orderBy:'name' | filter: Filtro">
                <td>{{$index+1}}</td>
                <td>{{f.name}}</td>
                <td class="actions">
                  <a href="#/fonte/edit/{{f.id}}" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                  <!-- <a href="#" class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>

</div>
<div ng-include="'view/content/footer.html'"></div>