<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>

</header>
<div class="wrapper" style="padding-top: 74px;">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">

          <h4 class="page-title">Indicadores Casebrás</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-12 py-2" ng-repeat="c in vm.cards">
        <div class="card" style="width: 80%;">

          <img class="card-img-top" ng-src="assets/images/card/{{c.img}}" width="341" height="214" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{c.title}}</h5>
            <p class="card-text">{{c.text}}.</p>
            <a href="#{{c.link}}" class="btn btn-primary">Visualizar</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<!-- <div ng-include="'view/content/footer.html'"></div> -->
