<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>

  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">

        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu" ng-if="vm.verificarPermissao('/nova-importacao')">
            <a href="#/nova-importacao"><i class="md-file-download"></i>Nova Importação</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">

          <h4 class="page-title">Importacação</h4>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Histórico de Importações</h4>
          <div class="form-group col-md-2 pull-right">
            <input type="search" class="form-control" name="name" placeholder="Pesquisar" ng-model="Filtro" required>
          </div>
          <table class="table table-striped add-edit-table dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
            <thead>
              <tr>
                <th>#</th>
                <th>Situação</th>
                <th>Data Importação</th>
                <th>Fonte de dados</th>
                <th>Erro</th>
                <th>Tipo Pendência</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="i in vm.importacoes | filter: Filtro">
                <td>{{$index+1}}</td>
                <td>
                  <span ng-show="i.failed == null" class="badge badge-warning">Importando</span>
                  <span ng-show="i.failed == 0" class="badge badge-success">Importado</span>
                  <span ng-show="i.failed == 1" class="badge badge-danger">Erro</span>
                </td>
                <td>{{i.data_formatada}}</td>
                <td>{{i.name}}</td>
                <td>{{i.err_message}}</td>
                <td>{{i.tipo}}</td>
                <td class="actions">
                  <a href class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-eye"></i></a>
                  <a href="#" class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>

</div>
<div ng-include="'view/content/footer.html'"></div>
