<li>
  <div class="checkbox checkbox-success mb-2">
    <i ng-click="toggleVisibility(node)" ng-class="{'fas fa-minus': node.childrenVisibility, 'fas fa-plus': !node.childrenVisibility && node.children.length, 'permissao-pai': !node.children.length}" ></i>
    <span ng-click="checkNode(node)">
        <input type="checkbox" name="" ng-checked="node.checked"  >
      <label>
        {{ node.name }}
      </label>
    </span>
  </div>
</li>
