<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>

  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">

        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>

          <li class="has-submenu">
            <a href="#/importacao"><i class="md-file-download"></i>Importação</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">

          <h4 class="page-title">Importacação</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Nova Importação</h4>

          <div class="row">
            <div class="col-12">
              <div class="p-20">
                <form class="form-horizontal" role="form" method="post" action="backend/imports/new.php" enctype="multipart/form-data">
                  <div class="form-group row">
                    <label class="col-2 col-form-label">Fonte de Dados</label>
                    <div class="col-4">
                      <select name='datasource' class="form-control" ng-model="data" ng-options="d as d.name for d in vm.datasources track by d.id">
                        <option value="">Selecione</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row" ng-show="data.id == 6">
                    <label class="col-2 col-form-label">Situação</label>
                    <div class="col-4">
                      <select name='situacao_contrato' class="form-control" ng-model="situacao_contrato" ng-options="s as s.tipo for s in vm.situacao track by s.id">
                        <option value="">Selecione</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-2 col-form-label">Escolha o arquivo</label>
                    <div class="col-4">
                      <input type="file" name='import_file' class="form-control">
                    </div>
                  </div>

                  <button type="submit" class="btn btn-success">Importar</button>
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'view/content/footer.html'"></div>