<header id="topnav">
  <div ng-include="'view/content/topbar.php'"></div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu">
            <a href="#/usuarios"><i class="md-person"></i>Usuarios Cadastrados</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title">Usuários</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Dados Usuario</h4>
          <form name="myForm" novalidate>
            <div ng-show="error_form" class="row justify-content-md-center" style="text-align: center;">
              <div class="col-md-3">
                <div class="alert alert-warning" role="alert">
                  <strong>{{error_msg}}</strong>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6" ng-class="{ 'has-error': form.name.$invalid }">
                <label class="col-form-label">Nome</label>
                <input type="text" class="form-control" name="name" placeholder="Nome" ng-model="user.name" required>
                <div ng-show="form.name.$invalid" class="help-block">Preencha este campo</div>
              </div>
              <div class="form-group col-md-6" ng-class="{ 'has-error': form.username.$invalid }">
                <label class="col-form-label">Usuário</label>
                <input type="text" class="form-control" name="username" placeholder="Usuário" ng-model="user.username" ng-required="true">
                <div ng-show="form.username.$invalid" class="help-block">Preencha este campo</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6" ng-class="{ 'has-error': form.password.$invalid }">
                <label class="col-form-label">Senha</label>
                <input type="password" class="form-control" name="password" placeholder="Senha" ng-model="user.password">
                <div ng-show="form.password.$invalid" class="help-block">Preencha este campo</div>
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label">Confirmar Senha</label>
                <input type="password" class="form-control" placeholder="Confirmar Senha" ng-model="user.p2">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6" ng-class="{ 'has-error': form.perfil.$invalid }">
                <label class="col-form-label">Perfil</label>
                <select type="text" class="form-control" name="perfil" placeholder="Senha" name="perfil" ng-model="user.id_perfil" ng-options="p.id as p.perfil for p in vm.perfil" ng-required="true">
                  <option value="">Selecione</option>
                </select>
                <div ng-show="form.perfil.$invalid" class="help-block">Preencha este campo</div>
              </div>
              <div class="form-group col-md-6" ng-class="{ 'has-error': form.email.$invalid }">
                <label class="col-form-label">E-mail</label>
                <input type="text" class="form-control" name="email" placeholder="Digite o e-mail" name="email" ng-model="user.email" ng-required="true">
                <div ng-show="form.email.$invalid" class="help-block">Preencha este campo</div>
              </div>
            </div>
            <button type="submit" class="btn btn-success" ng-click="vm.cadastrar(user,myForm)">Salvar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" ng-show="user.id_perfil == 2 || user.id_perfil == 3">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Permissões</h4>
          <ul class="tree">
             <node-tree children="vm.tree"></node-tree>
         </ul>
        </div>
      </div>
      <div class="col-md-6" ng-show="user.id_perfil == 2">
        <div class="card-box">
          <h4 class="m-t-0 header-title">Filiais</h4>
          <div class="list" >
            <div class="checkbox checkbox-success mb-2" ng-repeat="filial in vm.filiais">
                <input type="checkbox" id="{{$index+1}}" value="{{filial}}"  ng-checked="vm.filiaisSelecionadas.indexOf(filial) > -1" ng-click="vm.toggleSelection(filial)">
              <label  for="{{$index+1}}">
                {{filial}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div ng-include="'view/content/footer.html'"></div>
