<header id="topnav">
<div ng-include="'view/content/topbar.php'"></div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <ul class="navigation-menu">
          <li class="has-submenu">
            <a href="#/Home"><i class="md-home"></i>Página Inicial</a>
          </li>
          <li class="has-submenu" ng-if="vm.verificarPermissao('/usuarios/novo')">
            <a href="#/usuarios/novo"><i class="md-person-add"></i>Novo Usuário</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="wrapper">
<div class="container-fluid">
<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <h4 class="page-title">Usuários</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card-box">
      <h4 class="m-t-0 header-title">Usuários Cadastrados</h4>
      <div class="form-group col-md-2 pull-right">
        <input type="search" class="form-control" name="name" placeholder="Pesquisar" ng-model="Filtro" required>
      </div>
      <table class="table table-striped add-edit-table dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info" >
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Usuário</th>
            <th>Perfil</th>
            <th>Situação</th>
            <th>Último Acesso</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="u in vm.usuarios_cadastrados | orderBy:sortType2:sortReverse2 | filter: Filtro">
            <td>{{$index+1}}</td>
            <td>{{u.name}}</td>
            <td>{{u.username}}</td>
            <td>{{u.perfil}}</td>
            <td>
              <span ng-show="u.situacao == 0" class="badge badge-success">Ativo</span>
              <span ng-show="u.situacao == 1" class="badge badge-danger">Bloqueado</span>
            </td>
            <td>{{u.ultimo_acesso}}</td>
            <td class="actions">
              <a ng-if="vm.verificarPermissao('/editar_usuario')" href="#/usuarios/novo/{{u.id}}" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="edit" data-original-title="Edit"><i class="fas fa-pen"></i></a>
              <a ng-if="vm.verificarPermissao('/desativar_usuario')" href ng-click="vm.alterar_situacao(u)"><i class="fa fa-power-off" ng-class="{'ativo' : u.situacao == 0, 'bloqueado': u.situacao == 1}" ></i></a>
              <!-- <a ng-show="u.situacao == 0" href data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-power-off"></i></a> -->
            </td>
            <!-- color: #81c867; -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  </div>
</div>
<div ng-include="'view/content/footer.html'"></div>
